[%if rules%]<div class="socio-rules">[%rules%]</div>[%end%]

[%if topics%]
<table id="socio-categories">

<tr>
<td class="socio-cathead socio-catmenu"></td>
<td class="socio-cathead socio-catauthor">[%author%]</td>
<td class="socio-cathead socio-catcomments">[%replies%]</td>
<td class="socio-cathead socio-catlastcomment">[%last_reply%]</td>
</tr>

<tr class="socio-catdelim"><td colspan="4"><div class="socio-thick"></div></td></tr>

[%for topic in topics%]
<tr class="socio-category[%if topic.pinned%]-pinned[%end%]">
<td class="socio-name">
	<a href="/forum/topic/[%topic.uuid%]">[%if topic.unread%]<strong>[%end%][%topic.subject_html%][%if topic.unread%]</strong>[%end%]</a>[%if topic.subscribed%]&nbsp;<img src="/st/[%ver%]/socio/subscribed.gif" alt="" class="socio-mark" />[%end%]
	<div class="socio-topic-created">[%created_at +%] [%+ topic.literal_created%]</div>
	[%if topic.pages%]<div class="socio-topiclist-pages">[%Pages%]: [%foreach ent in topic.pages%][%if ent.entry%][%if ent.entry.a%]<a href="[%ent.entry.a.href%]">[%end%][%ent.entry.text%][%if ent.entry.a%]</a>[%end%][%end%][%if ent.delim%], [%end%][%end%]</div>[%end%]
</td>
<td class="socio-author">[%topic.author_html%]</td>
<td class="socio-counter">[%topic.posts%]</td>
<td class="socio-lastcomment">
	[%if topic.last_post%]<div><a href="/forum/topic/[%topic.uuid%]?page=[%topic.last_post_page%]#[%topic.last_post%]">[%topic.last_post_created%]</a></div><div>[%by +%] [%+ topic.last_post_author_html%]</div>[%end%]
</td>
</tr>
[%unless topic.lst%]
<tr class="socio-catdelim"><td colspan="4"><div class="socio-thin"></div></td></tr>
[%end%]
[%end%]
[%if topics%]<tr class="socio-catdelim"><td colspan="4"><div class="socio-semithick"></div></td></tr>[%end%]
[%if pages%]
<tr><td class="socio-pages" colspan="4">
[%to_page%]: <span class="socio-pages-list">[%foreach ent in pages%][%if ent.entry%][%if ent.entry.a%]<a href="[%ent.entry.a.href%]">[%end%][%ent.entry.text%][%if ent.entry.a%]</a>[%end%][%end%][%if ent.delim%], [%end%][%end%]</span>
</td></tr>
[%end%]
</table>
[%end%]

[%if message%]<div class="socio-message">[%message%]</div>[%end%]
