<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
[%if title%]<title>[%title%][%title_suffix%]</title>[%end%]
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
[%if htmlmeta.keywords%]<meta http-equiv="keywords" content="[%htmlmeta.keywords%]" />[%end%]
[%if htmlmeta.description%]<meta http-equiv="description" content="[%htmlmeta.description%]" />[%end%]
<link rel="stylesheet" type="text/css" href="/st-mg/[%ver%]/socio/main.css" />
<script type="text/javascript" src="/st/[%ver%]/js/socio.js"></script>
[%head%]</head><body>
<table id="page-layout">
	<tr> 
		<td id="page-left"><div></div></td>
		<td id="page-content">
			[%content%]
		</td>
		<td id="page-right"><div></div></td>
	</tr>
</table>
</body></html>
