<table class="categories">

<tr class="cathead">
<td class="catgroup"></td>
<td class="catevents">[%topics%]</td>
<td class="catcomments">[%replies%]</td>
<td class="catcomments">[%unread%]</td>
<td class="catlast">[%last_message%]</td>
</tr>

[%for ent in categories%]

[%if ent.category%]
<tr class="category">
<td class="name">
<div class="catname"><a href="/forum/cat/[%ent.category.id%]">[%ent.category.title%]</a></div>
<div class="catdescription">[%ent.category.description%]</div>
</td>
<td class="counter">[%ent.category.topics%]</td>
<td class="counter">[%ent.category.replies%]</td>
<td class="counter">[%if ent.category.unread%]<img src="/st/[%ver%]/socio/box.gif" alt="" />[%end%]</td>
<td>
[%if ent.category.lastinfo%]
<div><a href="/forum/topic/[%ent.category.lastinfo.topic%][%if ent.category.lastinfo.post%]?page=[%ent.category.lastinfo.page%]#[%ent.category.lastinfo.post%][%end%]">[%ent.category.lastinfo.subject_html%]</a></div>
<div>[%ent.category.lastinfo.updated%]</div>
<div>[%by%] [%ent.category.lastinfo.author_html%]</div>
[%end%]
</td></tr>
[%end%]

[%if ent.header%]
<tr class="catdelim"><td colspan="5"><div class="top_cat">[%ent.header%]</div></td></tr>
[%end%]

[%if ent.delim%]
<tr class="catdelim"><td colspan="5"><div class="thin"></div></td></tr>
[%end%]

[%end%]

</table>

