<table id="socio-categories" class="socio-categories-index">

<tr>
<td class="socio-cathead socio-index-title"><div>[%ForumCategories%]</div></td>
<td class="socio-cathead socio-catcomments">[%topics%]</td>
<td class="socio-cathead socio-catcomments">[%replies%]</td>
<td class="socio-cathead socio-catcomments">[%unread%]</td>
<td class="socio-cathead socio-catlast">[%last_message%]</td>
</tr>

<tr class="socio-catdelim"><td colspan="5"><div class="socio-thick"></div></td></tr>

[%for ent in categories%]

[%if ent.category%]
<tr class="socio-category">
<td class="socio-catname">
<div class="socio-catname"><a href="/forum/cat/[%ent.category.id%]">[%ent.category.title%]</a></div>
<div class="socio-catdescription">[%ent.category.description%]</div>
</td>
<td class="socio-counter">[%if ent.category.topics%]<div>[%ent.category.topics%]</div>[%end%]</td>
<td class="socio-counter">[%if ent.category.replies%]<div>[%ent.category.replies%]</div>[%end%]</td>
<td class="socio-counter">[%if ent.category.unread%]<div>Новые</div>[%end%]</td>
<td class="socio-last">
[%if ent.category.lastinfo%]
<div><a href="/forum/topic/[%ent.category.lastinfo.topic%][%if ent.category.lastinfo.post%]?post=[%ent.category.lastinfo.post%][%end%]">[%ent.category.lastinfo.subject_html%]</a></div>
<div>[%ent.category.lastinfo.updated%]</div>
<div>[%by +%] [%+ ent.category.lastinfo.author_html%]</div>
[%end%]
</td></tr>
<tr class="socio-catdelim"><td colspan="5"><div class="socio-thin"></div></td></tr>
[%end%]

[%if ent.header%]
<tr class="socio-catdelim"><td colspan="5"><div class="socio-top-cat">[%ent.header%]</div></td></tr>
<tr class="socio-catdelim"><td colspan="5"><div class="socio-thin"></div></td></tr>
[%end%]

[%if ent.delim%]
<tr class="socio-catdelim"><td colspan="5"><div class="socio-thin"></div></td></tr>
[%end%]

[%end%]

<tr class="socio-catdelim"><td colspan="5"><div class="socio-semithick"></div></td></tr>

</table>

