<link rel="stylesheet" type="text/css"	href="/st/[%ver%]/socio/main.css" />
===HEAD===
[%if topmenu_left or topmenu_right%]
<table id="topmenu"><tr>
[%if topmenu_left%]<td id="topmenu_left">[%for ent in topmenu_left%][%if ent.delim%] &bull; [%end%][%if ent.href%]<a href="[%ent.href%]">[%end%][%ent.html%][%if ent.href%]</a>[%end%][%end%]</td>[%end%]
[%if topmenu_right%]<td id="topmenu_right">[%for ent in topmenu_right%][%if ent.delim%] &bull; [%end%][%if ent.href%]<a href="[%ent.href%]">[%end%][%ent.html%][%if ent.href%]</a>[%end%][%end%]</td>[%end%]
</tr></table>
[%end%]

[%if menu%]<div id="menu">[%for ent in menu%][%if ent.delim%] &bull; [%end%][%if ent.href%]<a href="[%ent.href%]">[%end%][%ent.html%][%if ent.href%]</a>[%end%][%end%]</div>[%end%]
<div id="page_content">[%forum_content%]</div>
