<div class="advanced-search-form">[%advanced_search_form%]</div>
<table id="socio-topic-head"><tr>
        <td id="socio-topic-title"><div>[%topic.subject_html%]
                [%if topic.subscribed%]&nbsp;<img src="/st-mg/[%ver%]/socio/subscribed.gif" alt="" class="socio-mark" />[%end%]
                [%if topic.closed%]&nbsp;<img src="/st-mg/[%ver%]/socio/closed.gif" alt="" class="close-mark" />[%end%]
                [%if googleplus_plusone%]&nbsp;&nbsp;[%googleplus_plusone%][%end%]</div></td>
[%if pages%]<td class="socio-topic-pages">
[%to_page%]: <span class="socio-pages-list">[%foreach ent in pages%][%if ent.entry%][%if ent.entry.a%]<a href="[%ent.entry.a.href%]">[%end%][%ent.entry.text%][%if ent.entry.a%]</a>[%end%][%end%][%unless ent.lst%], [%end%][%end%]</span>
</td>[%end%]</tr></table>
[%if facebook_like%]<div id="socio-topic-facebook-like">[%facebook_like%]</div>[%end%]

<table id="socio-categories">

[%if show_topic%]
<tr><td colspan="3" class="socio-catdelim"><div class="socio-post-head"><table class="socio-post-delim"><tr><td class="socio-delim-left"><a href="/forum/topic/[%topic.uuid%]">[%topic_started +%] [%+ topic.literal_created%]</a></td></tr></table></div></td></tr>

<tr class="socio-category">

<td class="socio-avatar-row" rowspan="2">
[%if topic.avatar%]<div class="socio-avatar"><img src="[%topic.avatar%]" alt="" /></div>[%end%]
<div class="socio-member-name">[%topic.author_html%]</div>
[%if topic.status%]<div class="socio-member-status">[%topic.status%]</div>[%end%]
[%if topic.author_menu%]<div class="socio-member-menu">[%foreach ent in topic.author_menu%]<div><a href="[%ent.href%]">[%ent.title%]</a></div>[%end%]</div>[%end%]
</td>

<td class="socio-post-content" colspan="2">
[%topic.content_html%]

[%if yandex_share%]
<table id="socio-like-buttons"><tr>
	<td id="socio-topic-yandex"><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,friendfeed,moikrug"></div></td>
</tr></table>
[%end%]

</td>

</tr><tr><td class="socio-post-actions-left">
[%if topic.tags_html%]<div class="socio-tags">[%Tags%]: <span class="socio-tags-list">[%topic.tags_html%]</span></div>[%end%]
[%if topic.signature%]<div class="socio-signature">----------------------------------------------------<br />[%topic.signature%]</div>[%end%]
</td><td class="socio-post-actions-right">
[%if topic.topic_actions%]<div class="socio-actions">[%topic.topic_actions%]</div>[%end%]
</td>
</tr>
[%end%]

[%foreach post in posts%]
<tr><td class="socio-catdelim" colspan="3"><a name="[%post.uuid%]"></a><div class="socio-post-head"><table class="socio-post-delim"><tr><td class="socio-delim-left"><a href="/forum/topic/[%post.topic%][%if post.uuid%]?post=[%post.uuid%][%end%]">[%written_at +%] [%+ post.literal_created%]</a></td><td class="socio-delim-right">[%if to_the_top%]<img src="/st-mg/socio/up.gif" alt="" class="socio-up" /> <a href="/forum/topic/[%topic.uuid%]#top">[%to_the_top%]</a>[%end%]</td></tr></table></div></td></tr>

<tr class="socio-category">

<td class="socio-avatar-row" rowspan="2">
[%if post.avatar%]<div class="socio-avatar"><img src="[%post.avatar%]" alt="" /></div>[%end%]
<div class="socio-member-name">[%post.author_html%]</div>
[%if post.status%]<div class="socio-member-status">[%post.status%]</div>[%end%]
[%if post.author_menu%]<div class="socio-member-menu">[%foreach ent in post.author_menu%]<div><a href="[%ent.href%]">[%ent.title%]</a></div>[%end%]</div>[%end%]
</td>

<td class="socio-post-content" colspan="2">[%if post.post_title%]<div class="socio-post-title">[%post.post_title%]
    [%if post.subscribed%]&nbsp;<img src="/st-mg/[%ver%]/socio/subscribed.gif" alt="" class="socio-mark" />[%end%]
    [%if post.closed%]&nbsp;<img src="/st-mg/[%ver%]/socio/closed.gif" alt="" class="close-mark" />[%end%]
</div>[%end%]
[%post.content_html%]
[%if post.tags_html%]<div class="socio-tags">[%Tags%]: <span class="socio-tags-list">[%post.tags_html%]</span></div>[%end%]
</td>

</tr><tr><td class="socio-post-actions-left">
[%if post.signature%]<div class="socio-signature">----------------------------------------------------<br />[%post.signature%]</div>[%end%]
</td><td class="socio-post-actions-right">
[%if post.post_actions%]<div class="socio-actions">[%post.post_actions%]</div>[%end%]
</td>
</tr>
[%end%]
</table>

<table id="socio-topic-bottom"><tr><td class="socio-topic-pages">[%if pages%]
[%to_page%]: <span class="socio-pages-list">[%foreach ent in pages%][%if ent.entry%][%if ent.entry.a%]<a href="[%ent.entry.a.href%]">[%end%][%ent.entry.text%][%if ent.entry.a%]</a>[%end%][%end%][%unless ent.lst%], [%end%][%end%]</span>
[%end%]</td></tr></table>

<a name="post-form"></a>
[%new_post_form%]

[%if yandex_share_js%]
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
[%end%]
