html { height: 100%; font-family: Verdana; font-size: 13px }
body { background-image: url(/st/constructor/index/bg.gif); background-repeat: repeat; margin: 0 auto; height: 100%; }
table { border-spacing: 0; padding: 0; border-collapse: collapse; }
td { font-size: 13px }
img { border: none }
#page-table { background-image: url(/st/constructor/index/grad.gif); background-repeat: repeat-x; background-position: 0% 50%; height: 100%; width: 100%; }
#page-td {vertical-align: middle; text-align: center }
#page-td-cabinet { vertical-align: top; text-align: center }
#cab-toplogo { height: 200px; width: 100% }
#cab-toplogo td { text-align: center }
#page-bottom { height: 50px; vertical-align: bottom; text-align: center; color: #80b8cd; font-size: 11px; padding: 40px 10px 40px 10px }
#page-bottom a:link, #page-bottom a:visited { color: #90c8dd }
#page-bottom a:hover, #page-bottom a:active { color: #a0d8ed }
#page-alpha { width: 165px; height: 142px; position: absolute; left: 0; top: 0; background-image: url(/st/constructor/index/alpha.gif); background-repeat: no-repeat; }
#page-beta { width: 165px; height: 142px; position: absolute; left: 0; top: 0; background-image: url(/st/constructor/index/beta.gif); background-repeat: no-repeat; }
#index-div { background-image: url(/st/constructor/index/indexlogo.jpg); background-repeat: no-repeat; background-position: 50% 50%; height: 600px }
#index-pad { padding-top: 445px; }
#index-counters { position: absolute; right: 20px; top: 20px }
#menu { margin: 0 auto; }
#menu a:link, #menu a:visited { color: #dd6419; }
#menu a:hover, #menu a:active { color: #ed8469; }
#menu table { margin: 0 auto 10px auto; }
.btn-l { width: 18px; height: 28px; background-image: url(/st/constructor/index/btn_left.gif); background-repeat: no-repeat; background-position: 100% 100%; padding: 0; margin: 0; }
.btn-in { height: 28px; background-image: url(/st/constructor/index/btn_bg.gif); background-repeat: repeat-x; background-position: 0% 100%; padding: 0; margin: 0;}
.btn-r { width: 18px; height: 28px; background-image: url(/st/constructor/index/btn_right.gif); background-repeat: no-repeat; background-position: 0% 100%; padding: 0; margin: 0; }
.form { width: 440px; margin: 0 auto; }
.form-top { height: 27px; background-image: url(/st/constructor/index/form_top.png); background-repeat: no-repeat; background-position: 0% 100% }
.form-content { background-image: url(/st/constructor/index/form_bg.png); background-repeat: repeat-y; background-position: 0% 0%; padding: 20px 80px 20px 80px; text-align: left; }
.form-bottom { height: 32px; background-image: url(/st/constructor/index/form_bottom.png); background-repeat: no-repeat; background-position: 0% 0% }
#cab-content .form-top { height: auto; background: none; }
#cab-content .form-content { background: none; padding: 30px 0px 30px 0px }
#cab-content .form-bottom { height: auto; background: none; }
.form-desc { color: #777777 }
.form-w100 { width: 100% }
.form-bg { background-color: #fbfbfb; border: solid 1px #e5e5e5; }
.form-bg:focus { border: solid 3px #b4bac2; margin: 1px 0px 18px 0px; }
input.form-bg, select.form-bg { font-size: 22px; color: #777777; padding: 3px; margin: 3px 0px 20px 0px }
.form-submit { width: 125px; height: 31px; background: none; background-image: url(/st/constructor/index/form_btn.gif); background-position: 50% 100%; background-repeat: no-repeat; color: #262626; border: 0; font-size: 14px }
.form-control { text-align: center; }
.form-std-form-row { width: 100% }
.form-list-messages-bottom { padding-top: 15px; color: #898989; }
.form-list-messages-bottom div { padding-top: 5px; color: #898989; }
.form-error { color: #ff6347; font-size: 11px }
.form-ret { text-align: center; padding: 0px 20px 20px 20px }
.form-list-messages-top { padding-bottom: 10px }
a:link, a:visited { color: #e48347 }
a:hover, a:active { color: #f4a377 }
#cab-menu { width: 925px; height: 75px; margin: 0 auto; background-image: url(/st/constructor/cabinet/menu.png); background-repeat: no-repeat; background-position: 50% 0% }
#cab-menu img { vertical-align: middle }
#cab-menu-left { text-align: left; padding: 0px 10px 10px 40px }
#cab-menu-right { text-align: right; padding: 0px 40px 10px 0px }
#cab-content { width: 875px; margin: 0 auto; background-image: url(/st/constructor/cabinet/bg.gif); }
#cab-layout { margin: 0 auto; }
#cab-layout td { vertical-align: top }
#cab-leftbtn-td { padding: 14px 5px 25px 20px; }
#cab-leftbtn { width: 127px; height: 202px; margin: 0 auto; background-image: url(/st/constructor/cabinet/leftbtn.gif); background-repeat: no-repeat; background-position: 50% 0% }
#cab-leftbtn-in { padding: 33px 15px 5px 15px }
#cab-leftbtn-in div { padding-bottom: 33px }
#cab-leftbtn-in a:link, #cab-leftbtn a:visited { color: #ffffff }
#cab-leftbtn-in a:hover, #cab-leftbtn a:active { color: #eeddd3 }
#cab-wmbtn-td { padding: 14px 5px 25px 20px; }
#cab-wmbtn { width: 127px; height: 202px; margin: 0 auto; background-image: url(/st/constructor/cabinet/wmbtn.gif); background-repeat: no-repeat; background-position: 50% 0%; margin-bottom: 20px }
#cab-wmbtn-in { padding: 33px 15px 5px 15px }
#cab-wmbtn-in div { padding-bottom: 33px }
#cab-wmbtn-in a:link, #cab-wmbtn a:visited { color: #ffffff }
#cab-wmbtn-in a:hover, #cab-wmbtn a:active { color: #eeddd3 }
#cab-right-menu { padding: 14px 20px 25px 20px }
#cab-right-menu .c1 { background-color: #ffffff }
#cab-right-menu .c2 { background-image: url(/st/constructor/cabinet/lt.gif); background-repeat: no-repeat; background-position: 0% 0% }
#cab-right-menu .c3 { background-image: url(/st/constructor/cabinet/rt.gif); background-repeat: no-repeat; background-position: 100% 0% }
#cab-right-menu .c4 { background-image: url(/st/constructor/cabinet/lb.gif); background-repeat: no-repeat; background-position: 0% 100% }
#cab-right-menu .c5 { background-image: url(/st/constructor/cabinet/rb.gif); background-repeat: no-repeat; background-position: 100% 100%; padding: 15px 25px 15px 25px; }
#cab-right-icons td { text-align: center; vertical-align: top; padding: 20px 10px 0px 10px; width: 135px }
#cab-right-icons .text td { padding: 10px 10px 20px 10px }
#cab-comment { color: #777777; font-size: 12px; padding: 10px 0px 10px 0px; text-align: justify }
#cab-center { color: #777777; font-size: 12px; padding: 10px 0px 10px 0px; text-align: center }
#cab-menu td { color: #01709a; font-weight: bold }
#cab-menu a:link, #cab-menu a:visited { font-weight: normal; color: #01709a; }
#cab-menu a:hover, #cab-menu a:active { font-weight: normal; color: #0390ca; }
