<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>[%title%]</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<script type="text/javascript">var ver='[%ver%]'; document.domain=document.domain;</script>
		[%head%]
		<link rel="stylesheet" type="text/css" href="/st/[%ver%]/ext/resources/css/ext-all.css" />
		<link rel="stylesheet" type="text/css" href="/st/[%ver%]/game/common.css" />
		<link rel="stylesheet" type="text/css" href="/st/[%ver%]/game/interface.css" />
		[%if design_root%]
		<link rel="stylesheet" type="text/css" href="[%design_root%]/game.css" />
		<link rel="stylesheet" type="text/css" href="[%design_root%]/interface.css" />
		[%else%]
		<link rel="stylesheet" type="text/css" href="/st/[%ver%]/game/default-interface/main.css" />
		[%end%]
		<script type="text/javascript" src="/st/[%ver%]/ext/ext-base.js"></script>
		[%if debug_ext%]
		<script type="text/javascript" src="/st/[%ver%]/ext/ext-all-debug-w-comments.js"></script>
		<script type="text/javascript" src="/st/[%ver%]/ext/miframe-debug.js"></script>
		[%else%]
		<script type="text/javascript" src="/st/[%ver%]/ext/ext-all.js"></script>
		<script type="text/javascript" src="/st/[%ver%]/ext/miframe.js"></script>
		[%end%]
		<script type="text/javascript" src="/st/[%ver%]/js/gettext.js"></script>
		[%if lang%]<script type="text/javascript" src="/st/[%ver%]/constructor/gettext-[%lang%].js"></script>[%end%]
		<script type="text/javascript" src="/st/[%ver%]/js/util.js"></script>
		<script type="text/javascript" src="/st/[%ver%]/js/depend.js"></script>
		<script type="text/javascript">[%game_js%]</script>
	</head>
	<body scroll="no">
		[%if xsolla_payport%]
		<div id="cassa2payCanvas"></div>
		<script type="text/javascript" src="//2pay.ru/gadget/client/html/init.js"></script>
		<script type="text/javascript">
		var _2payProjectID = '[%xsolla_payport.project_id%]';
		var _2payPaymentSum = '[%xsolla_payport.payment_sum%]';
		var _2payVolumeSum = '[%xsolla_payport.amount_sum%]';
		var _2payParamsV1 = '[%xsolla_payport.name%]';
		var _2payLanguageUser = [%xsolla_payport.language%];
		addEvent(window, 'load', function () { _2payLoadGadget(); });
		</script>
		[%end%]
		[%if xsolla_payment%]
		<script type="text/javascript">
		var xsolla_project_id = '[%xsolla_payment.project_id%]';
		var xsolla_v1 = '[%xsolla_payment.name%]';
		</script>
		[%end%]
		[%blocks%]
		<div class="x-hidden" id="default-panel-top" style="height: 40px"><div id="panel-top-content"></div></div>
		<div class="x-hidden" id="default-chat-frame"><div id="chat-frame-content"></div></div>
		<div class="x-hidden" id="default-chat-channel-buttons" style="height: 30px"><div id="chat-channel-buttons-content"></div></div>
		<div class="x-hidden" id="default-chat-box"><div id="chat-box-content"></div></div>
		<div class="x-hidden" id="default-chat-input" style="height: 45px"><div id="chat-input-content"><table style="width: 100%"><tr>
			<td style="width: 100px"><select id="chat-channel-control" style="width: 100%"></select></td>
			<td><form><input id="chat-input-control" /></form></td>
			<td class="default-chat-submit-td"><span class="default-chat-submit" onclick="Chat.submit()">[%send%]</span></td>
		</tr></table></div></div>
		<div class="x-hidden" id="default-chat-roster"><div id="chat-roster-content"></div></div>
		<div class="x-hidden" id="default-chat-roster-header" style="height: 30px"><div id="chat-roster-header-content"></div></div>
		<div class="x-hidden" id="default-chat-roster-characters"><div id="chat-roster-characters-content"></div></div>
		<div class="x-hidden" id="default-main"><div id="main-content"></div></div>
		<div class="x-hidden" id="default-smiles"><div id="smiles-content"></div></div>
		<div class="x-hidden" id="default-payment"><div id="payment-content"></div></div>

		<div class="x-hidden" id="default-margin-left"></div>
		<div class="x-hidden" id="default-margin-right"></div>
		<div class="x-hidden" id="default-margin-top"></div>
		<div class="x-hidden" id="default-margin-bottom"></div>
		<div class="x-hidden" id="default-panel-main-left" style="width: 40px"><div id="panel-main-left-content"></div></div>
		<div class="x-hidden" id="default-panel-main-right" style="width: 40px"><div id="panel-main-right-content"></div></div>
		<div class="x-hidden" id="default-panel-roster-buttons" style="height: 30px"><div id="panel-roster-buttons-content"></div></div>
	</body>
</html>
