<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>[%title%]</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<script type="text/javascript">var ver='[%ver%]'; document.domain=document.domain;</script>
		[%head%]
		<link rel="stylesheet" type="text/css" href="/st/[%ver%]/ext/resources/css/ext-all.css" />
		<link rel="stylesheet" type="text/css" href="/st/[%ver%]/game/common.css" />
		<link rel="stylesheet" type="text/css" href="/st/[%ver%]/game/interface.css" />
		[%if design_root%]
		<link rel="stylesheet" type="text/css" href="[%design_root%]/game.css" />
		<link rel="stylesheet" type="text/css" href="[%design_root%]/interface.css" />
		[%end%]
		<script type="text/javascript" src="/st/ext/ext-base.js"></script>
		<script type="text/javascript" src="/st/ext/ext-all.js"></script>
		<script type="text/javascript" src="/st/ext/miframe.js"></script>
		<script type="text/javascript" src="/st/[%ver%]/js/gettext.js"></script>
		[%if lang%]<script type="text/javascript" src="/st/[%ver%]/constructor/gettext-[%lang%].js"></script>[%end%]
		<script type="text/javascript" src="/st/[%ver%]/js/sprintf.js"></script>
		<script type="text/javascript" src="/st/[%ver%]/js/depend.js"></script>
		<script type="text/javascript">[%game_js%]</script>
	</head>
	<body scroll="no">
		[%if twopay_payport%]
		<div id="cassa2payCanvas"></div>
		<script type="text/javascript" src="http://2pay.ru/gadget/client/html/init.js"></script>
		<script type="text/javascript">
		var _2payProjectID = '[%twopay_payport.project_id%]';
		var _2payUserEmail = '[%twopay_payport.email%]';
		var _2payPaymentSum = '[%twopay_payport.payment_sum%]';
		var _2payVolumeSum = '[%twopay_payport.amount_sum%]';
		var _2payParamsV1 = '[%twopay_payport.name%]';
		var _2payLanguageUser = [%twopay_payport.language%];
		addEvent(window, 'load', function () { _2payLoadGadget(); });
		</script>
		[%end%]
		[%if twopay_payment%]
		<script type="text/javascript">
		var twopay_project_id = '[%twopay_payment.project_id%]';
		var twopay_email = '[%twopay_payment.email%]';
		var twopay_v1 = '[%twopay_payment.name%]';
		</script>
		[%end%]
		[%blocks%]
		<div class="x-hidden" id="default-topmenu-box">
			<a href="javascript:void(0)" onclick="Game.reload(); return false">reload</a> &bull;
			<a href="javascript:void(0)" onclick="Game.logout(); return false">logout</a> &bull;
			<a href="/admin" target="_blank">admin</a>
		</div>
		<div class="x-hidden" id="default-chat-channels"><div id="chat-channel-buttons">[%foreach btn in chat_buttons%]<img src="[%btn.image%]-[%btn.state%].gif" id="[%btn.id%]" onclick="[%btn.onclick%]" class="clickable" title="[%btn.hint%]" />[%end%]</div></div>
		<div class="x-hidden" id="default-chat-box"><div id="chat-box-content">chat-box + chat-box-content</div></div>
		<div class="x-hidden" id="default-chat-input"><table style="width: 100%"><tr><td style="width: 100px"><select id="chat-channel-control" style="width: 100%">[%foreach ch in chat_channels%][%if ch.writable%]<option value="[%ch.id%]">[%ch.short_name%]</option>[%end%][%end%]</select></td><td><form><input id="chat-input-control" /></form></td><td style="width: 50px"><span style="margin-left: 16px; cursor: pointer" onclick="Chat.submit()">send</span></td></tr></table></div>
		<div class="x-hidden" id="default-roster-box"><div id="roster-box-content"></div></div>
		<div class="x-hidden" id="default-margin-left">m<br />a<br />r<br />g<br />i<br />n<br />-<br />l<br />e<br />f<br />t</div>
		<div class="x-hidden" id="default-margin-right">m<br />a<br />r<br />g<br />i<br />n<br />-<br />r<br />i<br />g<br />h<br />t</div>
		<div class="x-hidden" id="default-margin-top">margin-top</div>
		<div class="x-hidden" id="default-margin-bottom">margin-bottom</div>
	</body>
</html>
