<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>[%title%]</title>
<link rel="stylesheet" href="/dyn-mg/indexpage.css" type="text/css" />
<link rel="stylesheet" href="index.css" type="text/css" />
<meta http-equiv="MSThemeCompatible" content="No" />
<meta http-equiv="description" content="[%htmlmeta.description%]" />
<meta http-equiv="keywords" content="[%htmlmeta.keywords%]" />
<script type="text/javascript" src="/dyn-mg/indexpage.js"></script>
</head><body>
	<form action="/" method="post" id="loginform" name="loginform" onsubmit="return auth_login();">
		<div id="enter-email">
			login: <input id="email" name="email" value="" title="Имя персонажа или e-mail" />
		</div>
		<div id="enter-password">
			password: <input id="password" type="password" name="password" value="" title="Пароль" />
		</div>
		<div id="enter-submit">
			<a href="javascript:void(0)" onclick="return auth_login();">enter</a><br />
			<input type="image" src="/st-mg/img/null.gif" />
		</div>
		<div id="enter-remind">
			<div><a href="javascript:void(0)" onclick="return auth_register();"><strong>register</strong></a></div>
			<div><a href="javascript:void(0)" onclick="return auth_remind();">forgot your password?</a></div>
		</div>
	</form>
</body></html>

