<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="page-internal-html">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<script type="text/javascript">var ver='[%ver%]'; document.domain = '[%base_domain%]';</script>
		[%head%]
		[%if load_extjs%]
		<link rel="stylesheet" type="text/css" href="/st/[%ver%]/ext/resources/css/ext-all.css" />
		[%if debug_ext%]
		<script type="text/javascript" src="/st/[%ver%]/ext/ext-base-debug.js"></script>
		[%else%]
		<script type="text/javascript" src="/st/[%ver%]/ext/ext-base.js"></script>
		[%end%]
		[%if load_extjs.full%]
			[%if debug_ext%]
			<script type="text/javascript" src="/st/[%ver%]/ext/ext-all-debug-w-comments.js"></script>
			[%else%]
			<script type="text/javascript" src="/st/[%ver%]/ext/ext-all.js"></script>
			[%end%]
		[%else%]
			[%if debug_ext%]
			<script type="text/javascript" src="/st/[%ver%]/ext/pkgs/ext-core-debug.js"></script>
			<script type="text/javascript" src="/st/[%ver%]/ext/pkgs/ext-foundation-debug.js"></script>
			<script type="text/javascript" src="/st/[%ver%]/ext/pkgs/cmp-foundation-debug.js"></script>
			[%else%]
			<script type="text/javascript" src="/st/[%ver%]/ext/pkgs/ext-core.js"></script>
			<script type="text/javascript" src="/st/[%ver%]/ext/pkgs/ext-foundation.js"></script>
			<script type="text/javascript" src="/st/[%ver%]/ext/pkgs/cmp-foundation.js"></script>
			[%end%]
			
			[%if load_extjs.qtips or load_extjs.dd%]
				[%if debug_ext%]
				<script type="text/javascript" src="/st/[%ver%]/ext/pkgs/ext-dd-debug.js"></script>
				[%else%]
				<script type="text/javascript" src="/st/[%ver%]/ext/pkgs/ext-dd.js"></script>
				[%end%]
			[%end%]
			[%if load_extjs.qtips%]
				[%if debug_ext%]
				<script type="text/javascript" src="/st/[%ver%]/ext/pkgs/pkg-tips-debug.js"></script>
				[%else%]
				<script type="text/javascript" src="/st/[%ver%]/ext/pkgs/pkg-tips.js"></script>
				[%end%]
			[%end%]
		[%end%]
		[%end%]
		<link rel="stylesheet" type="text/css" href="/st/[%ver%]/game/common.css" />
		<link rel="stylesheet" type="text/css" href="/st/[%ver%]/game/interface.css" />
		[%if design_root%]
		<link rel="stylesheet" type="text/css" href="[%design_root%]/game.css" />
		<link rel="stylesheet" type="text/css" href="[%design_root%]/interface.css" />
		[%else%]
		<link rel="stylesheet" type="text/css" href="/st/[%ver%]/game/default-interface/main.css" />
		[%end%]
	</head>
	<body id="page-internal-body">
		[%if menu_left or menu_right%]
		<table id="main-frame-menu"><tr>
		[%if menu_left%]<td id="main-frame-menu-left">[%for ent in menu_left%][%if ent.href%]<a href="[%ent.href%]">[%end%][%ent.html%][%if ent.href%]</a>[%end%][%unless ent.lst +%] / [%+ end%][%end%]</td>[%end%]
		[%if menu_right%]<td id="main-frame-menu-right">[%for ent in menu_right%][%if ent.href%]<a href="[%ent.href%]">[%end%][%ent.html%][%if ent.href%]</a>[%end%][%unless ent.lst +%] / [%+ end%][%end%]</td>[%end%]
		</tr></table>
		[%end%]
		[%content%]
	</body>
</html>

