[%if hint%]<div class="item-hint-text">[%hint%]</div>[%end%]
<table class="items-table item-hint-table">
	<tr>
		[%if item.image%]<td class="item-image-td"><img src="[%item.image%]" alt="" class="item-image" /></td>[%end%]
		<td class="item-info-td">
			<div class="item-info-name">[%item.name%][%if item.quantity%]&nbsp;&mdash; <span class="value quantity">[%item.quantity%]</span> [%+ pcs%][%end%]</div>
			[%if item.params%]<div class="item-params">
				[%foreach ent in item.params%][%unless ent.header%]
				<div class="item-param"><span class="item-param-name">[%ent.name%]</span>: <span class="item-param-value value">[%ent.value%]</span>[%ent.library_icon%]</div>
				[%end%][%end%]
			</div>[%end%]
			[%if item.description%]<div class="item-description">[%item.description%]</div>[%end%]
		</td>
	</tr>
</table>
