<table id="location-arrows-table">
	<tr class="location-arrows-row1">
		<td class="location-arrows-col1">
		</td>
		<td class="location-arrows-col2">
			[%if location_arrows.loc_up%]
			<img src="[%location_arrows.img_up%]" alt="" onclick="parent.Locations.move('[%location_arrows.loc_up%]');" class="clickable loc-tr-[%location_arrows.loc_up%]" />
			[%end%]
		</td>
		<td class="location-arrows-col3">
		</td>
	</tr>
	<tr class="location-arrows-row2">
		<td class="location-arrows-col1">
			[%if location_arrows.loc_left%]
			<img src="[%location_arrows.img_left%]" alt="" onclick="parent.Locations.move('[%location_arrows.loc_left%]');" class="clickable loc-tr-[%location_arrows.loc_left%]" />
			[%end%]
		</td>
		<td class="location-arrows-col2">
		</td>
		<td class="location-arrows-col3">
			[%if location_arrows.loc_right%]
			<img src="[%location_arrows.img_right%]" alt="" onclick="parent.Locations.move('[%location_arrows.loc_right%]');" class="clickable loc-tr-[%location_arrows.loc_right%]" />
			[%end%]
		</td>
	</tr>
	<tr class="location-arrows-row3">
		<td class="location-arrows-col1">
		</td>
		<td class="location-arrows-col2">
			[%if location_arrows.loc_down%]
			<img src="[%location_arrows.img_down%]" alt="" onclick="parent.Locations.move('[%location_arrows.loc_down%]');" class="clickable loc-tr-[%location_arrows.loc_down%]" />
			[%end%]
		</td>
		<td class="location-arrows-col3">
		</td>
	</tr>
</table>
