<div class="location-static">
<map name="locmap-[%loc.id%]">
[%foreach zone in zones%]

[%if zone.action=='move'%]
<area class="loc-tr-[%zone.loc%]" href="javascript:void(0)" onclick="Locations.move('[%zone.loc%]'); return false" shape="polygon" coords="[%zone.polygon%]" />
[%elsif zone.action=='event'%]
<area class="[%zone.class%]" href="javascript:void(0)" onclick="Game.qevent('[%zone.ev%]'); return false" shape="polygon" coords="[%zone.polygon%]" />
[%elsif zone.action=='globfunc'%]
<area class="[%zone.class%]" href="javascript:void(0)" onclick="Game.main_open('/globfunc/[%zone.globfunc%]'); return false" shape="polygon" coords="[%zone.polygon%]" />
[%elsif zone.action=='specfunc'%]
<area class="[%zone.class%]" href="javascript:void(0)" onclick="Game.main_open('/location/[%zone.specfunc%]'); return false" shape="polygon" coords="[%zone.polygon%]" />
[%elsif zone.action=='open'%]
<area class="[%zone.class%]" href="javascript:void(0)" onclick="Game.main_open('[%zone.url%]'); return false" shape="polygon" coords="[%zone.polygon%]" />
[%else%]
<area class="[%zone.class%]" href="javascript:void(0)" onclick="return false" shape="polygon" coords="[%zone.polygon%]" />
[%end%]

[%end%]
</map>
<img src="[%loc.image%]" alt="" usemap="#locmap-[%loc.id%]" />
</div>
