[%if ret%]<div class="main-return"><a href="[%ret.href%]">[%ret.html%]</a></div>[%end%]
[%if pages%]<div class="main-pages main-pages-top">[%foreach page in pages%][%if page.href%]<a href="[%page.href%]">[%else%]<span>[%end%][%page.html%][%if page.href%]</a>[%else%]</span>[%end%][%unless page.lst +%] &middot; [%+ end%][%end%]</div>[%end%]

[%foreach table in tables%]
[%if table.title%]<h1>[%table.title%]</h1>[%end%]
[%if table.links%]<div class="links">[%foreach link in table.links%][%if link.href%]<a href="[%link.href%]">[%end%][%link.text%][%if link.href%]</a>[%end%][%unless link.lst +%] / [%+ end%][%end%]</div>[%end%]
<table class="game-table">
	[%if table.header%]<tr class="header">[%foreach col in table.header%]<td[%if col.cls +%] class="[%col.cls%]"[%end%]>[%col.html%]</td>[%end%]</tr>[%end%]
	[%foreach row in table.rows%]<tr>[%foreach col in row.cols%]<td[%if col.cls +%] class="[%col.cls%]"[%end%]>[%col.html%]</td>[%end%]</tr>[%end%]
</table>[%end%]

[%if pages%]<div class="main-pages main-pages-top">[%foreach page in pages%][%if page.href%]<a href="[%page.href%]">[%else%]<span>[%end%][%page.html%][%if page.href%]</a>[%else%]</span>[%end%][%unless page.lst +%] &middot; [%+ end%][%end%]</div>[%end%]
