<div class="text">
    <h1>[%Settings%]</h1>
    <table class="menu">
        <tr class="header">
            <td>[%LogType%]</td>
            <td>[%StoredSize%]</td>
            <td>[%Limit%]</td>
        </tr>
        <tr><td>[%Log%]</td><td>[%log_size%]</td><td>[%log_limit%]</tr>
        <tr><td>[%Syslog%]</td><td>[%syslog_size%]</td><td>[%syslog_limit%]</td></tr>
    </table>

    <h1>[%Stats%]</h1>

    <table class="menu">
        <tr class="header">
            <td rowspan="3">[%Date%]</td>
            <td colspan="4">[%NotImportant%]</td>
            <td colspan="4">[%Important%]</td>
        </tr>
        <tr class="header">
            <td colspan="2">[%UserLogs%]</td>
            <td colspan="2">[%SystemLogs%]</td>
            <td colspan="2">[%UserLogs%]</td>
            <td colspan="2">[%SystemLogs%]</td>
        </tr>
        <tr class="header">
            <td>[%Count%]</td>
            <td>[%Size%]</td>
            <td>[%Count%]</td>
            <td>[%Size%]</td>
            <td>[%Count%]</td>
            <td>[%Size%]</td>
            <td>[%Count%]</td>
            <td>[%Size%]</td>
        </tr>
        [%foreach row in rows%]<tr>[%foreach col in row%]<td>
                [%if col.striked%]<strike>[%end%]
                [%col.text%]
                [%if col.striked%]</strike>[%end%]
        </td>[%end%]</tr>[%end%]
    </table>
</div>
