<h1>Игровой чат</h1>

[%if chatmode == 1%]
<p>Чат в игре разделён на каналы. Каждый канал доступен на отдельной вкладке. Вкладки переключаются при помощи кнопок, расположенных рядом с фреймом чата. Чтобы написать сообщение в какой-либо канал, активируйте его и напишите ваше сообщение.</p>
[%elsif chatmode == 2%]
<p>Чат в игре разделён на каналы. Вы можете выбрать, какие каналы хотите читать, включив соответствующие кнопки на панели, расположенной рядом с фреймом чата. Чтобы написать сообщение в какой-либо канал, выберите его из выпадающего списка рядом со строкой ввода сообщения.</p>
[%end%]

[%if channel_commands%]
<p>Выбрать канал, в который отправляется сообщение, также можно при помощи команд чата, которые необходимо написать перед сообщением:<ul>
	[%foreach ent in channel_commands%]<li><strong>/[%ent.cmd%]</strong> &mdash; [%ent.title%]</li>[%end%]
</ul></p>
[%end%]

<p>Чтобы написать сообщение, адресованное другому персонажу, щёлкните на его имя в чате или в списке персонажей. Имя персонажа появится в строке чата с префиксом "to" или "private". Private означает, что сообщение не увидит никто, кроме вас и адресата. "To" означает, что сообщение увидят и другие игроки, которые видят канал, в который вы пишете сообщение. Можно указать и нескольких адресатов. В этом случае сообщение будет отправлено каждому из них.</p>

<p>Если имя получателя сообщения перечёркнуто, то это означает, что он не увидел это сообщение (либо находится вне игры, либо не может читать канал, в который отправлено сообщение).</p>

<p>Общемировой канал ("Мир") предназначен для общения на весь мир. Этот канал видят все игроки, находящиеся в данный момент в игре. Канал "Локация" &mdash; это общение в пределах той локации, где вы сейчас находитесь. Если написать сообщение в этот канал, то его увидят только те, кто сейчас находится рядом с вами. Другие игроки смогут прочитать эти сообщения позже, если их персонажи зайдут в эту локацию.</p>
