<h1>Мультоводство в игре</h1>

<p>Мультоводство &mdash; это игра одного игрока несколькими персонажами. Каждый из персонажей в таком случае называется мультом.</p>

[%if multicharing == 0%]
<p>В нашей игре мультоводство категорически запрещено. Администрация игры производит отслеживание фактов мультоводства и наказывает игроков, регистрирующих нескольких персонажей.</p>
[%elsif multicharing == 1%]
<p>Вы можете создать нескольких персонажей на своём аккаунте, но играть разными персонажами вы можете только по очереди. Если вы зарегистрируете нового персонажа не в рамках своего основного аккаунта, а создадите новый аккаунт, это считается нарушением. Администрация игры производит отслеживание фактов мультоводства и наказывает игроков, регистрирующих несколько аккаунтов.</p>
[%elsif multicharing == 2%]
<p>Политика игры не запрещает вам иметь нескольких персонажей на одном аккаунте. Вы можете играть ими одновременно из разных браузеров на одном компьютере или с разных компьютеров. Однако, если вы зарегистрируете нового персонажа не в рамках своего основного аккаунта, а создадите новый аккаунт, это считается нарушением. Администрация игры производит отслеживание фактов мультоводства и наказывает игроков, регистрирующих несколько аккаунтов.</p>
[%end%]

[%if multicharing%]
<p>Максимальное количество персонажей, которое вы можете иметь на своём аккаунте &mdash; <strong>[%max_chars%]</strong>.
[%+ if free_chars < max_chars %]
Количество персонажей, которое вы можете зарегистрировать бесплатно &mdash; <strong>[%free_chars%]</strong>. За каждого последующего персонажа взимается плата &mdash; [%multichar_price%].
[%end%]
</p>
[%end%]
