<h1>Образы персонажей</h1>

<p>Образ персонажа &mdash; изображение, олицетворяющее его в игре. Чтобы увидеть свой текущий образ, нажмите на кнопку "Персонаж".</p>
<p>[%if images%] Вы можете выбрать образ своему персонажу из списка доступных образов, нажав на ссылку "Выбрать образ персонажа". [%+ end%]
[%if layers +%] Вы можете создать образ своему персонажу, нажав на ссылку "Создать образ персонажа".[%end%]</p>
<p>[%if paid and free +%] Часть образов доступна бесплатно, часть же требует оплаты. Стоимость каждого из образов указана рядом с кнопкой "Установить".
[%elsif paid +%] Изменение образа требует оплаты. Стоимость установки образа указана рядом с кнопкой "Установить".
[%elsif free +%] Образы персонажей изменяются бесплатно.[%end%]</p>
[%if paid and first_free%]<p>Первая установка образа после создания персонажа предоставляется бесплатно.</p>[%end%]
