<meta property="og:title" content="[%facebook.title%]" />
<meta property="og:type" content="website" />
[%if facebook.image%]<meta property="og:image" content="[%facebook.image%]" />[%end%]
[%if facebook.site_name%]<meta property="og:site_name" content="[%facebook.site_name%]" />[%end%]
[%if facebook.description%]<meta property="og:description" content="[%facebook.description%]" />[%end%]
<meta property="og:url" content="[%facebook.url%]" />
[%if facebook.app_id%]<meta property="fb:app_id" content="[%facebook.app_id%]" />[%end%]
<!--HEAD-->
<div class="fb-like"><fb:like></fb:like></div>
