/* MONEY VALUES */
.money-amount { font-weight: bold; color: #008000 }
.money-currency { font-weight: bold }
.money-currency img { vertical-align: middle }

/* PRICES */
.price { white-space: nowrap }

/* QUANTITY */
.quantity { color: #008000 }

/* ANY OTHER VALUES */
.value { font-weight: bold }

/* ICONS */
.icon { vertical-align: middle; border: none }

/* CHARACTER NAMES */
.char-name { font-weight: bold }

/* PAID SERVICES */
.service-inactive { color: #c00000 }
.service-active { color: #008000 }

/* ITEM LISTS */
.item-image { border: solid 1px #404040; margin-right: 20px }
.item-image-td { vertical-align: top; padding: 5px 0 30px 0 }
.item-info-td { vertical-align: top; padding: 2px 0 30px 0 }
.item-info-name { font-weight: bold; font-size: 16px }
.item-description { color: #404040; padding-top: 5px }
.item-menu { padding-top: 5px }
.item-params { padding-top: 5px }
.item-param-header { font-weight: bold; padding: 4px 0 4px 0 }
.item-quantity-td { vertical-align: top; padding: 0 0 10px 20px }

/* MODIFIED PARAMETERS */
.param-mod-plus { color: #743900 }
.param-mod-minus { color: #4d5e69 }

/* ICONS */
.library-icon { vertical-align: middle }

/* CHARACTER IMAGES */
.charimage-background { background: #000000 }

/* COMBATS */
.combat-log-important { font-weight: bold; font-size: 18px }
.combat-log-joined { color: green }
.combat-log-turn { color: #808080 }
.combat-log-member { font-weight: bold }
.combat-log-attack { color: #800000 }
.combat-log-heal { color: #008000 }
.combat-log-damage { color: #c00000 }
.combat-log-hp { color: green; font-weight: bold }
.combat-log-dead { color: #000000; font-weight: bold }
.combat-log-itemlist { margin: 0; padding: 0 0 0 2em }
.combat-log-item { list-style: outside disc; padding: 0; margin: 0 }
.combat-log-itemname { font-weight: bold }
.combat-log-itemquantity { font-weight: bold; color: green }
.combat-log-item { font-weight: bold; color: #000040 }
.combat-log-time-header { font-size: 16px; font-weight: bold }
.combat-log-xp { color: #c00000 }
.combat-log-xp-value { font-weight: bold }
.combat-syslog-time { background-color: #404040; padding: 2px; color: #ffffff; margin: 2px 0 2px 0; font-weight: bold }
.combat-syslog-action-begin, .combat-syslog-action-end { background-color: #808080; padding: 2px; color: #ffffff; margin: 2px 0 2px 0 }
.combat-syslog-stage { background-color: #404080; padding: 2px; color: #ffffff; margin: 2px 0 2px 0; font-weight: bold }
.combat-syslog-end { background-color: #408040; padding: 2px; color: #ffffff; margin: 2px 0 2px 0; font-weight: bold }
.combat-syslog-watchdog { background-color: #804040; padding: 2px; color: #ffffff; margin: 2px 0 2px 0; font-weight: bold }

/* NEWS */
.news { margin: 20px 0 20px 0 }
.news-head { font-weight: bold }
.news-content { padding: 10px 0 10px 0 }
