/* LAYOUT */
#page-content { background: none }
#main-and-chat, #roster-and-chat, #chat-and-roster { background: none }
.x-layout-split { background: #808080 }
#margin-left, #margin-right, #margin-top, #margin-bottom { text-align: center }

/* MAIN FRAME */
#main { height: 100%; background-color: #ffffff }
#main-content { height: 100% }

/* TOPMENU */
#topmenu { text-align: center }
#topmenu-content { padding-top: 10px; font-size: 18px }

/* CHAT */
#chat-frame-layout { background: none }
#chat-buttons-and-frame { background: none }
#chat-box-content { overflow: auto }
#chat-input-control { width: 100%; }
.chat-button { cursor: pointer }
.chat-clickable { cursor: pointer }
.chat-msg-char-missing { text-decoration: line-through }

/* ROSTER */
#chat-roster { height: 100% }
#chat-roster-content { height: 100% }
#chat-roster-characters { height: 100% }
#chat-roster-layout { background: none }
#chat-roster-characters-content { height: 100%; overflow: auto }
.chat-roster-channel { cursor: pointer; color: blue }
.chat-roster-channel-clickable { text-decoration: underline }

/* TOP MESSAGE */
.msg .x-box-mc { font-size: 14px }
#msg-div { position: absolute; left: 35%; top: 10px; width: 300px; z-index: 20000 }
#msg-div .msg { border-radius: 8px; -moz-border-radius: 8px; border: 2px solid #ccc; margin-top: 2px; padding: 10px 15px; color: #555 }
#msg-div .msg-info { background: #f0fff0 }
#msg-div .msg-error { background: #ffe0e0; border: 2px solid #c44 }
#msg-div .msg h3 { margin: 0 0 8px; font-weight: bold; font-size: 15px }
#msg-div .msg p { margin: 0 }
