/* COMMON */
body { font-family: Verdana; font-size: 12px }
td { font-size: 12px }
img { vertical-align: middle; border: 0 none }
.clickable { cursor: pointer }
table, tr, td { padding: 0; margin: 0; border: none }
table { border-collapse: collapse; empty-cells: show }
area { border: none }
.public-offer { text-align: justify }

/* LAYOUT */
#page-content { background: none }
#main-and-chat, #roster-and-chat, #chat-and-roster, #main-panel-group { background: none }
.x-layout-split { background: #808080 }
#margin-left, #margin-right, #margin-top, #margin-bottom { text-align: center }

/* COMMON COLORS */
.ext-el-mask { background-color: #000000 }
.game-info { color: #008000; text-align: center; padding: 50px; font-weight: bold }
.game-error { color: red; text-align: center; padding: 50px; font-weight: bold }
.error-message { color: #800000; padding: 10px 30px 10px 30px; font-weight: bold; border: solid 1px #800000; margin-bottom: 10px; display: inline-block; }

/* MAIN FRAME */
#main { height: 100%; background-color: #ffffff }
#main-content { height: 100% }

/* PANELS */
.block-vertical { text-align: center }
.block-vertical img { display: block; margin: 0 auto 0 auto }
.btn-clickable { cursor: pointer }

/* CHAT */
#chat-frame-layout { background: none }
#chat-buttons-and-frame { background: none }
#chat-box-content { overflow: auto }
#chat-input-control { width: 100%; }
.chat-button { cursor: pointer }
.chat-clickable { cursor: pointer }
.chat-msg { margin-right: 4px; margin-left: 4px }
.chat-msg-char { font-weight: bold }
.chat-msg-char-missing { text-decoration: line-through }
.chat-msg-auth { color: #606060 }
.chat-msg-move { color: #408040 }
#chat-roster-header-content { text-align: center; overflow: auto }
#chat-roster-buttons-content { text-align: center }
#chat-channel-buttons img { vertical-align: top; margin: 0 auto 0 auto }
.default-chat-submit { margin-left: 16px; cursor: pointer }
.default-chat-submit-td { width: 50px }
#smiles-container { height: 100% }
#smiles-container .box-0, #smiles-container .sbox-0 { height: 100% }
#payment-container { height: 100% }
#payment-container .box-0, #payment-container .sbox-0 { height: 100% }
.chat-smile { margin: 2px; cursor: pointer }
#smiles-window .x-window-tl, #smiles-window .x-window-tc, #smiles-window .x-window-tr, #smiles-window .x-window-ml, #smiles-window .x-window-mc, #smiles-window .x-window-mr, #smiles-window .x-window-bl, #smiles-window .x-window-bc, #smiles-window .x-window-br, #smiles-window .x-window-mc { background: transparent; border-color: transparent }
#payment-window .x-window-tl, #payment-window .x-window-tc, #payment-window .x-window-tr, #payment-window .x-window-ml, #payment-window .x-window-mc, #payment-window .x-window-mr, #payment-window .x-window-bl, #payment-window .x-window-bc, #payment-window .x-window-br, #payment-window .x-window-mc { background: transparent; border-color: transparent }
.chat-div-your-location { background-color: #404040; color: #ffffff; padding: 2px 10px 2px 10px; margin-top: 4px; margin-bottom: 4px; text-align: center }

/* ROSTER */
#chat-roster { height: 100% }
#chat-roster-content { height: 100% }
#chat-roster-characters { height: 100% }
#chat-roster-layout { background: none }
#chat-roster-characters-content { height: 100%; overflow: auto }
.chat-roster-channel { cursor: pointer; color: blue }
.chat-roster-channel-clickable { text-decoration: underline }

/* TOP MESSAGE */
.msg .x-box-mc { font-size: 14px }
#msg-div { position: absolute; left: 35%; top: 10px; width: 300px; z-index: 20000 }
#msg-div .msg { border-radius: 8px; -moz-border-radius: 8px; border: 2px solid #ccc; margin-top: 2px; padding: 10px 15px; color: #555 }
#msg-div .msg-info { background: #f0fff0 }
#msg-div .msg-error { background: #ffe0e0; border: 2px solid #c44 }
#msg-div .msg h3 { margin: 0 0 8px; font-weight: bold; font-size: 15px }
#msg-div .msg p { margin: 0 }

/* EXTERNAL */
#page-external-html { height: 100%; padding: 0; margin: 0 }
#page-external-body { height: 100%; padding: 0; margin: 0 }
#page-external-1 { width: 100%; height: 100%; border-collapse: collapse }
#page-external-2 { padding: 0 }
#page-external-3 { margin: 0 auto 0 auto; border-collapse: collapse }
#page-external-4 { padding: 0 }

/* FORM */
.form-control { padding: 0 30px 0 0; vertical-align: top }
.form-control-padding { padding: 20px 30px 0 0; vertical-align: top }
.form-control-checkbox { padding: 0 30px 0px 0; vertical-align: top }
.form-desc { vertical-align: top; font-weight: bold; padding: 0 30px 5px 0 }
.form-desc-padding { vertical-align: top; font-weight: bold; padding: 20px 30px 5px 0 }
.form-error { color: #ff0000; font-weight: normal; font-size: 11px }
.form-list-messages-top, .form-list-messages-bottom { font-weight: bold }
.form-list-messages-bottom { padding-top: 20px }
.input-quantity-minus { padding-right: 3px }
.input-quantity-plus { padding-left: 3px }
.input-quantity-input { width: 60px; text-align: center }

/* INTERNAL */
#page-internal-html { height: 100%; padding: 0; margin: 0 }
#page-internal-body { padding: 10px; margin: 0; background: #ffffff; color: #000000 }
.main-return { padding-bottom: 10px }

/* PROGRESS BARS */
.progress-bars-horizontal { width: 100%; height: 100% }
.progress-bars-vertical { width: 100%; height: 100% }
.progress-horizontal, .progress-horizontal-1, .progress-horizontal-2, .progress-horizontal-3, .progress-horizontal-4, .progress-horizontal-5, .progress-horizontal-6, .progress-horizontal-7, .progress-horizontal-8, .progress-horizontal-9 { height: 100% }
.progress-vertical, .progress-vertical-1, .progress-vertical-2, .progress-vertical-3, .progress-vertical-4, .progress-vertical-5, .progress-vertical-6, .progress-vertical-7, .progress-vertical-8, .progress-vertical-9 { height: 100% }
.progress-indicator { background-color: #202080 }
.progress-indicator-horizontal { height: 100% }
.location-movement-full { background-color: #208020 }
.location-movement-notfull { background-color: #802020 }
.progress-bars-vertical-td { vertical-align: bottom }

/* LOCATION */
.location-arrows-row1, .location-arrows-row2, .location-arrows-row3 { height: 50px }
.location-arrows-col1, .location-arrows-col2, .location-arrows-col3 { width: 50px; text-align: center }
#loc-layout-image { vertical-align: top }
#loc-layout-arrows { padding-left: 40px }
#loc-layout-transitions { padding-top: 10px }

/* PANEL HEADERS */
.panel-header-horizontal, .panel-header-horizontal-1, .panel-header-horizontal-2, .panel-header-horizontal-3, .panel-header-horizontal-4, .panel-header-horizontal-5, .panel-header-horizontal-6, .panel-header-horizontal-7, .panel-header-horizontal-8, .panel-header-horizontal-9 { height: 100% }
.panel-header-horizontal-9 { width: 100%; height: 24px }
.panel-header-horizontal-10 { text-align: center; font-weight: bold; color: #000000; padding: 0 15px 0 15px }
.panel-header-horizontal-11 { width: 100%; overflow: hidden }
.panel-header-horizontal-12 { font-size: 16px; white-space: nowrap }
.block-location-name .panel-header-horizontal-10 { text-align: left }
.panel-header-horizontal-content-1 { float: left; width: 100%; display: inline }

/* LOGS */
.log-header .log-td { font-weight: bold; border-bottom: solid 1px #404040 }
.log-td { padding: 5px 30px 0 0; vertical-align: top }
.log-right { text-align: right }
.log-nowrap { white-space: nowrap }

/* PAGES */
.main-pages-top { padding-bottom: 10px }
.main-pages-bottom { padding-top: 10px }
.main-pages span { font-weight: bold }

/* MAIN FRAME MENU */
#main-frame-menu-left { padding: 0px 10px 15px 0px; }
#main-frame-menu-right { padding: 0px 0px 15px 0px; text-align: right; }

/* CHARACTER INFO */
.charinfo-name { font-size: 18px; padding: 10px 20px 0 20px; text-align: center }
.charinfo-avatar { text-align: center; padding: 20px 20px 20px 20px }
.charinfo-motto { text-align: center; padding: 0 20px 20px 20px; font-size: 16px }
.charinfo-layout-avatar { vertical-align: top; padding: 0 20px 0 20px }
.charinfo-layout-info { padding: 60px 40px 0 20px; vertical-align: top }
.charinfo-param-name { vertical-align: top; padding: 0 20px 0 0 }
.charinfo-param-value { vertical-align: top; font-weight: bold; padding: 0 0 0 0 }
.charinfo-param-header { vertical-align: top; font-weight: bold; padding: 10px 0 10px 0 }

/* CHARACTER PAGE */
.charpage-name { font-size: 18px; padding: 10px 20px 0 0 }
.charpage-avatar { text-align: center; padding: 20px 20px 20px 20px }
.charpage-layout-avatar { vertical-align: top; padding: 0 20px 0 0 }
.charpage-layout-actions { vertical-align: top; padding: 24px 20px 0 40px }
.charpage-layout-info { padding: 10px 20px 0 40px; vertical-align: top }
.charpage-param-name { vertical-align: top; padding: 0 20px 0 0 }
.charpage-param-value { vertical-align: top; font-weight: bold; padding: 0 0 0 0 }
.charpage-param-header { vertical-align: top; font-weight: bold; padding: 10px 0 10px 0 }
.charpage-header { font-weight: bold }

/* AVATAR SELECTOR */
.charimgsel-layout-image { vertical-align: top; padding: 20px 20px 20px 20px }
.charimgsel-layout-info { padding: 20px 20px 20px 40px; vertical-align: top }
.charimgsel-left { width: 20px; text-align: left; font-size: 16px }
.charimgsel-name { font-size: 18px; width: 300px; border: solid 1px #404040; text-align: center; padding: 5px 0 5px 0 }
.charimgsel-right { width: 20px; text-align: right; font-size: 16px }
#charimgsel-description { width: 340px; text-align: center; padding-top: 10px }
#charimgsel-price { padding-top: 10px; text-align: center }
#charimgsel-error { padding-top: 10px; text-align: center }
#charimgsel-form { padding-top: 10px; text-align: center }
.charimgsel-layer { margin-bottom: 10px }

/* CHARACTER PARAMS PAGE */
.charparams-layout { padding: 20px }
.charparams-param-name { vertical-align: top; padding: 0 20px 0 0 }
.charparams-param-value { vertical-align: top; font-weight: bold; padding: 0 0 0 0 }
.charparams-param-header { vertical-align: top; font-weight: bold; padding: 10px 0 10px 0 }

/* PAGER */
.pager-list { padding: 0 0 10px 0 }

/* BUTTONS */
.button { padding: 5px 20px 5px 20px }

/* QUESTS */
.chat-msg-quest { color: #000080 }
.chat-msg-quest-first-event { color: #4040c0; padding-top: 3px; border-top: solid 1px #808080; margin-top: 3px }
.chat-msg-quest-event { color: #4040c0 }
.chat-msg-quest-handler { color: #c95200 }
.chat-msg-quest-condition { color: #d7d721 }
.chat-msg-quest-action { color: #008000 }
.chat-msg-quest-error { color: #c00000 }
.quest-button-td { padding: 20px 40px 20px 0 }
.quests-noquests { font-size: 18px }
.quest-performed { margin-right: 30px }
.quest-finished-name { font-weight: bold }

/* DIALOGS */
.dialog { text-align: center; padding: 40px; border: solid 1px #808080; margin: 30px 0 30px 0; display: inline-block }
.dialog-title { font-size: 20px; padding-bottom: 40px }
.dialog-content { font-size: 16px }
.dialog-buttons { margin: 20px auto 0 auto }
.dialog-button-td { padding: 20px }

.progress-test1 { background-color: red }
.test2-notfull { background-color: yellow }
.test2-full { background-color: green }

/* CLASS SELECTOR */
.charclssel-layout-info { padding: 20px 20px 20px 40px; vertical-align: top }
.charclssel-left { width: 20px; text-align: left; font-size: 16px }
.charclssel-name { font-size: 18px; width: 300px; border: solid 1px #404040; text-align: center; padding: 5px 0 5px 0 }
.charclssel-right { width: 20px; text-align: right; font-size: 16px }
#charclssel-description { width: 340px; text-align: center; padding-top: 10px }
#charclssel-error { padding-top: 10px; text-align: center }
#charclssel-form { padding-top: 10px; text-align: center }
.charclssel-layer { margin-bottom: 10px }

/* SHOPS */
.shop-menu { padding-bottom: 15px }
.shop-interface-catalog-td { vertical-align: top }
.shop-interface-basket-td { vertical-align: top; padding-left: 40px }
.shop-basket-header { margin: 0; padding: 0 0 10px 0 }
#shop-basket-cost { padding-bottom: 10px }

/* EQUIP */
.equip-layout { overflow: hidden; border: solid 1px red; position: relative; left: 0px; top: 0px; text-align: left }
.equip-slot { background: red; position: relative; border: solid #000000 }
.equip-char-image { background: blue; position: relative; border: solid #000000 }
.equip-static-image { position: relative; border: solid #000000 }
