<div class="admin-equip-layout-render">
<div id="equip-layout-ie-warning" class="admin-alert" style="display: none">[%ie_warning%]</div>
<div id="equip-layout-form"></div>
<div id="equip-layout-div"></div>
</div>
<script type="text/javascript">
wait(['equip-layout-editor'], function() {
	EquipLayoutEditor.init('[%submit_url%]', [%grid_size%]);
	[%if charimage%]
	EquipLayoutEditor.add(new EquipLayoutCharImage([%charimage.x%], [%charimage.y%], [%charimage.width%], [%charimage.height%]));
	[%end%]
	[%foreach slot in slots%]
	EquipLayoutEditor.add(new EquipLayoutSlot([%slot.id%], '[%slot.name%]', [%slot.x%], [%slot.y%], [%slot.width%], [%slot.height%]));
	[%end%]
	EquipLayoutEditor.run();
});
</script>

