.combat-member-avatar { padding: 5px; text-align: center }
.combat-member-name { font-weight: bold; font-size: 14px }
div.combat-member-image { position: relative; margin: 5px auto 5px auto }
.combat-member-image { margin: 5px 0 5px 0; border: solid 1px #000000 }

#combat-myavatar { overflow: hidden }
#combat-enemyavatar { overflow: hidden }
#combat-log { padding: 5px 5px 0 5px }
.x-border-layout-ct { background: none }
.combat-item-deselected { cursor: pointer }
.combat-item-selected { background-color: #404040; color: #ffffff; cursor: pointer }
.combat-item-deselected:hover { background-color: #607060; color: #ffffff }
.combat-item-selected:hover { background-color: #505050; color: #ffffff }
.combat-action-selector { overflow: hidden }
