<script type="text/javascript" src="//www.[%main_host%]/st/[%ver%]/js/depend.js"></script>
<script type="text/javascript">admin_root='//www.[%main_host%]'</script>
<link rel="stylesheet" type="text/css" href="//www.[%main_host%]/st/[%ver%]/ext/resources/css/ext-all-notheme.css" />
<link rel="stylesheet" type="text/css" href="//www.[%main_host%]/st/[%ver%]/ext/resources/css/constructor-admin.css" />
<script type="text/javascript" src="//www.[%main_host%]/st/[%ver%]/ext/ext-base.js"></script>
[%if debug_ext%]
<script type="text/javascript" src="//www.[%main_host%]/st/[%ver%]/ext/ext-all-debug-w-comments.js"></script>
[%else%]
<script type="text/javascript" src="//www.[%main_host%]/st/[%ver%]/ext/ext-all.js"></script>
[%end%]
<script type="text/javascript" src="//www.[%main_host%]/st/[%ver%]/js/gettext.js"></script>
[%if lang%]<script type="text/javascript" src="//www.[%main_host%]/st/[%ver%]/constructor/gettext-[%lang%].js"></script>[%end%]
<script type="text/javascript" src="//www.[%main_host%]/st/[%ver%]/js/util.js"></script>
<script type="text/javascript" src="//www.[%main_host%]/st/[%ver%]/js/texteditor.js"></script>
[%if menu%]<script type="text/javascript">var admin_menu = [%menu%];</script>[%end%]
<script type="text/javascript">var constructor_index_page = '//www.[%main_host%]/';</script>
<script type="text/javascript" src="//www.[%main_host%]/st/[%ver%]/js/admin.js"></script>
<!--[if IE]><script src="//www.[%main_host%]/st/[%ver%]/js/excanvas.js"></script><![endif]-->
<!--HEAD-->
[%if xsolla_payport%]
<div id="cassa2payCanvas"></div>
<script type="text/javascript" src="//2pay.ru/gadget/client/html/init.js"></script>
<script type="text/javascript">
var _2payProjectID = '[%xsolla_payport.project_id%]';
var _2payPaymentSum = '[%xsolla_payport.payment_sum%]';
var _2payVolumeSum = '[%xsolla_payport.amount_sum%]';
var _2payParamsV1 = '[%xsolla_payport.name%]';
var _2payLanguageUser = [%xsolla_payport.language%];
addEvent(window, 'load', function () { _2payLoadGadget(); });
</script>
[%end%]
[%if xsolla_payment%]
<script type="text/javascript">
var xsolla_project_id = '[%xsolla_payment.project_id%]';
var xsolla_v1 = '[%xsolla_payment.name%]';
</script>
[%end%]
