<script type="text/javascript">var admin_root='http://www.[%main_host%]'</script>
<link rel="stylesheet" type="text/css" href="http://www.[%main_host%]/st/[%ver%]/ext/resources/css/ext-all-notheme.css" />
<link rel="stylesheet" type="text/css" href="http://www.[%main_host%]/st/[%ver%]/ext/resources/css/constructor-admin.css" />
<script type="text/javascript" src="http://www.[%main_host%]/st/ext/ext-base.js"></script>
<script type="text/javascript" src="http://www.[%main_host%]/st/ext/ext-all.js"></script>
<script type="text/javascript" src="http://www.[%main_host%]/st/[%ver%]/js/gettext.js"></script>
[%if lang%]<script type="text/javascript" src="http://www.[%main_host%]/st/[%ver%]/constructor/gettext-[%lang%].js"></script>[%end%]
<script type="text/javascript" src="http://www.[%main_host%]/st/[%ver%]/js/sprintf.js"></script>
<script type="text/javascript" src="http://www.[%main_host%]/st/[%ver%]/js/depend.js"></script>
<script type="text/javascript" src="http://www.[%main_host%]/st/[%ver%]/js/texteditor.js"></script>
[%if menu%]<script type="text/javascript">var admin_menu = [%menu%];</script>[%end%]
<script type="text/javascript" src="http://www.[%main_host%]/st/[%ver%]/js/rsh.js"></script>
<script type="text/javascript">var constructor_index_page = 'http://www.[%main_host%]/';</script>
<script type="text/javascript" src="http://www.[%main_host%]/st/[%ver%]/js/admin.js"></script>
===HEAD===
[%if twopay_payport%]
<div id="cassa2payCanvas"></div>
<script type="text/javascript" src="http://2pay.ru/gadget/client/html/init.js"></script>
<script type="text/javascript">
var _2payProjectID = '[%twopay_payport.project_id%]';
var _2payUserEmail = '[%twopay_payport.email%]';
var _2payPaymentSum = '[%twopay_payport.payment_sum%]';
var _2payVolumeSum = '[%twopay_payport.amount_sum%]';
var _2payParamsV1 = '[%twopay_payport.name%]';
var _2payLanguageUser = [%twopay_payport.language%];
addEvent(window, 'load', function () { _2payLoadGadget(); });
</script>
[%end%]
[%if twopay_payment%]
<script type="text/javascript">
var twopay_project_id = '[%twopay_payment.project_id%]';
var twopay_email = '[%twopay_payment.email%]';
var twopay_v1 = '[%twopay_payment.name%]';
</script>
[%end%]
