[%if form_title%]<h1>[%form_title%]</h1>[%end%]
<div class="form">
<div class="form-top"></div>
<div class="form-content">
<div style="width: 350px"></div>
[%if form_texteditors%]<script type="text/javascript" src="/st-mg/[%ver%]/js/texteditor.js"></script>[%end%]
<form action="[%form_action%]" method="post" enctype="multipart/form-data" class="form-std" name="stdform">
[%if ret%]<div class="form-ret"><a href="[%ret.href%]">[%ret.title%]</a></div>[%end%]
[%if form_top%]<div class="form-list-messages-top">[%for html in form_top%]<div class="form-list-message-top">[%html%]</div>[%end%]</div>[%end%]
[%if errors_on_top%]
	[%for row in form_rows%]
		[%for col in row.cols%]
			[%if col.error%]<div class="form-error">[%if col.desc%]<strong>[%col.desc%]: </strong>[%end%][%col.error.text%]</div>[%end%]
		[%end%]
	[%end%]
[%end%]
[%for row in form_rows%]
<table class="form-std-form-row">
[%if row.show_header%]
<tr>
	[%for col in row.cols%]
	<td width="[%row.width%]%" class="[%if (col.desc or col.error) and not row.fst%]form-desc-padding[%else%]form-desc[%end%]">
		[%col.desc%]
		[%if col.error%]<div class="form-error">[%col.error.text%]</div>[%end%]
	</td>
	[%end%]
</tr>
[%end%]
<tr>
	[%for col in row.cols%]
	<td width="[%row.width%]%" class="[%if col.td_class%][%col.td_class%][%elsif row.padding_top%]form-control-padding[%else%]form-control[%end%]">
	[%if col.element_header%][%col.element_header.html%][%end%]
	[%if col.element_input%]<input id="[%col.name%]" name="[%col.name%]" value="[%col.value%]" size="[%form_cols%]" class="form-w100 form-bg" />[%end%]
	[%if col.element_range%]<input id="[%col.name%]_min" name="[%col.name%]_min" value="[%col.value_min%]" size="[%form_cols%]" class="form-bg" /> &mdash; <input id="[%col.name%]_max" name="[%col.name%]_max" value="[%col.value_max%]" size="[%form_cols%]" class="form-bg" />[%end%]
	[%if col.element_checkbox%]<table><tr valign="top"><td><input type="checkbox" class="form-checkbox" name="[%col.name%]" value="1"[%if col.onclick +%] onclick="[%col.onclick%]"[%end%][%if col.checked +%] checked="checked"[%end +%] /></td><td class="form-checkbox-text">[%col.text%]</td></tr></table>[%end%]
	[%if col.element_radio%]<table><tr><td><input type="radio" class="form-radio" id="[%col.form_control_id%]" name="[%col.name%]" value="[%col.value%]" [%if col.checked%] checked="checked"[%end%] /></td><td style="padding: 3px 0px 0px 4px;" class="form-clickable">[%col.text%]</td></tr></table>[%end%]
	[%if col.element_file%]<input type="file" name="[%col.name%]" size="[%form_cols%]" class="form-bg form-file" />[%end%]
	[%if col.element_password%]<input type="password" name="[%col.name%]" value="[%col.value%]" size="[%form_cols%]" class="form-w100 form-bg" />[%end%]
	[%if col.element_select%]<select name="[%col.name%]" class="form-w100 form-bg">[%for opt in col.options%]<option value="[%opt.value%]"[%if opt.selected%] selected="selected"[%end%][%if opt.bgcolor%] style="background-color: [%opt.bgcolor%]"[%end%]>[%opt.text%]</option>[%end%]</select>[%end%]
	[%if col.element_textarea%]<textarea name="[%col.name%]" class="form-w100 form-bg" cols="[%form_textarea_cols%]" rows="[%form_textarea_rows%]">[%col.value%]</textarea>[%end%]
	[%if col.element_textarea_fixed%]<textarea name="[%col.name%]" class="form-bg" cols="[%form_textarea_cols%]" rows="[%form_textarea_rows%]" wrap="hard">[%col.value%]</textarea>[%end%]
	[%if col.element_submit%]<input type="submit"[%if col.submit_name%] name="[%col.submit_name%]"[%end%] value="[%col.value%]" class="form-submit" />[%end%]
	[%if col.element_generic_submit%]<input type="submit"[%if col.name%] name="[%col.name.text%]"[%end%] value="[%col.value%]" class="form-submit" />[%end%]
	[%if col.element_texteditor%]
	<table class="form-editor-toolbox"><tr>
	<td><img class="form-clickable" src="/st-mg/form/bold.gif" alt="B" title="[%bold%]" onclick="add_code('[%col.name%]', this, '[b]','[/b]', 1)" /></td>
	<td><img class="form-clickable" src="/st-mg/form/italic.gif" alt="I" title="[%italic%]" onclick="add_code('[%col.name%]', this, '[i]','[/i]', 1)" /></td>
	<td><img class="form-clickable" src="/st-mg/form/underline.gif" alt="U" title="[%underline%]" onclick="add_code('[%col.name%]', this, '[u]','[/u]', 1)" /></td>
	<td><img class="form-clickable" src="/st-mg/form/strike.gif" alt="S" title="[%strike%]" onclick="add_code('[%col.name%]', this, '[s]','[/s]', 1)" /></td>
	<td><img class="form-clickable" src="/st-mg/form/quote.gif" alt="Q" title="[%quote%]" onclick="add_code('[%col.name%]', this, '[quote]','[/quote]', 1)" /></td>
	<td><img class="form-clickable" src="/st-mg/form/red.gif" alt="RD" title="[%red%]" onclick="add_code('[%col.name%]', this, '[color=#ff0000]','[/color]', 1)" /></td>
	<td><img class="form-clickable" src="/st-mg/form/green.gif" alt="GR" title="[%green%]" onclick="add_code('[%col.name%]', this, '[color=#00c000]','[/color]', 1)" /></td>
	<td><img class="form-clickable" src="/st-mg/form/blue.gif" alt="BL" title="[%blue%]" onclick="add_code('[%col.name%]', this, '[color=#0000ff]','[/color]', 1)" /></td>
	<td><img class="form-clickable" src="/st-mg/form/dark_green.gif" alt="DG" title="[%dark_green%]" onclick="add_code('[%col.name%]', this, '[color=#009a00]','[/color]', 1)" /></td>
	<td><img class="form-clickable" src="/st-mg/form/magenta.gif" alt="MG" title="[%magenta%]" onclick="add_code('[%col.name%]', this, '[color=#e909f1]','[/color]', 1)" /></td>
	<td><img class="form-clickable" src="/st-mg/form/yellow.gif" alt="YL" title="[%yellow%]" onclick="add_code('[%col.name%]', this, '[color=#f1f100]','[/color]', 1)" /></td>
	<td><img class="form-clickable" src="/st-mg/form/orange.gif" alt="OR" title="[%orange%]" onclick="add_code('[%col.name%]', this, '[color=#ff9600]','[/color]', 1)" /></td>
	[%if col.attaches%]<td><img class="form-clickable" src="/st-mg/form/image.gif" alt="IMG" title="[%insert_image%]" onclick="add_img('[%col.name%]')" /></td>[%end%]
	<td><img class="form-clickable" src="/st-mg/form/translit.gif" alt="TR" title="[%transliterate_to_russian%]" onclick="translit('[%col.name%]')" /></td>
	</tr></table>
	<textarea id="[%col.name%]" name="[%col.name%]" class="[%if col.fixed_not_ok%]form-w100 [%end%]form-bg" cols="[%form_textarea_cols%]" rows="[%form_textarea_rows%]"[%if fixed_ok%] wrap="hard"[%end%]>[%col.value%]</textarea>
	[%if col.show_smiles and smile_categories%]
		<div class="form-smiles">[%smiles%]</div>
		<div>[%for cat in smile_categories%]<a href="javascript:void(0)" onclick="smile_category('[%col.name%]', '[%cat.id%]'); return false">[%cat.name%]</a> [%end%]</div>
		<div id="[%col.name%]_smiles" style="padding: 3px 0 3px 0"></div>
		[%for cat in smile_categories%]
			<div id="smiles_[%col.name%]_[%cat.id%]" style="display: none">
			[%for sm in cat.smiles%]<img src="[%sm.image%]" alt="" class="form-clickable" onclick="add_code('[%col.name%]', this, '[%sm.code%]', '', 1)" /> [%end%]
			</div>
		[%end%]
	[%end%]
	[%end%]
	[%if col.element_html%][%col.html%][%end%]
	</td>
	[%end%]
</tr>
</table>
[%end%]
<div>[%for hidden in form_hidden%]<input type="hidden" name="[%hidden.name%]" value="[%hidden.value%]" />[%end%]</div>
[%if form_bottom%]<div class="form-list-messages-bottom">[%for html in form_bottom%]<div class="form-list-message-bottom">[%html%]</div>[%end%]</div>[%end%]
</form>
</div>
<div class="form-bottom"></div>
</div>
