<form action="/director/setup" method="post">
	<input type="hidden" name="ok" value="1" />
	<table>
		<tr><td>[%form.memcached_desc%]</td><td><input name="memcached" value="[%form.memcached%]" size="50" /></td></tr>
		<tr><td>[%form.cassandra_desc%]</td><td><input name="cassandra" value="[%form.cassandra%]" size="50" /></td></tr>
		<tr><td>[%form.storage_desc%]</td><td><input name="storage" value="[%form.storage%]" size="50" /></td></tr>
		<tr><td>[%form.smtp_server_desc%]</td><td><input name="smtp_server" value="[%form.smtp_server%]" size="50" /></td></tr>
		<tr><td>[%form.main_host_desc%]</td><td><input name="main_host" value="[%form.main_host%]" size="50" /></td></tr>
		<tr><td>[%form.admin_user_desc%]</td><td><input name="admin_user" value="[%form.admin_user%]" size="50" /></td></tr>
		<tr><td>[%form.locale_desc%]</td><td><input name="locale" value="[%form.locale%]" size="50" /></td></tr>
		<tr><td></td><td><input type="submit" value="[%form.submit_desc%]" /></td></tr>
	</table>
</form>
