<form action="/director/setup" method="post">
	<input type="hidden" name="ok" value="1" />
	<table>
		<tr><td>[%form.memcached_desc%]</td><td><input name="memcached" value="[%form.memcached%]" size="50" /></td></tr>
		<tr><td>[%form.cassandra_desc%]</td><td><input name="cassandra" value="[%form.cassandra%]" size="50" /></td></tr>
		<tr><td>[%form.storage_desc%]</td><td><input name="storage" value="[%form.storage%]" size="50" /></td></tr>
		<tr><td>[%form.metagam_host_desc%]</td><td><input name="metagam_host" value="[%form.metagam_host%]" size="50" /></td></tr>
		<tr><td>[%form.admin_user_desc%]</td><td><input name="admin_user" value="[%form.admin_user%]" size="50" /></td></tr>
		<tr><td></td><td><input type="submit" value="[%form.submit_desc%]" /></td></tr>
	</table>
</form>
