<!--<div id="title">[%title%]</div>-->
<table id="cab-layout"><tr>
[%if leftbtn%]<td id="cab-leftbtn-td"><div id="cab-leftbtn"><div><a href="[%leftbtn.href%]">[%leftbtn.title%]</a></div></div></td>[%end%]
[%if menu%]<td id="cab-right-menu"><div class="c1"><div class="c2"><div class="c3"><div class="c4"><div class="c5">
<table id="cab-right-icons">
[%foreach m in menu%]
<tr class="images">[%foreach ent in m%]<td><a href="[%ent.href%]"><img src="[%ent.image%]" alt="" /></a></td>[%end%]</tr>
<tr class="text">[%foreach ent in m%]<td><a href="[%ent.href%]">[%ent.text%]</a></td>[%end%]</tr>
[%end%]
</table>
</div></div></div></div></div></td>[%end%]
</tr></table>
