<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
<title>[%title%]</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/st/[%ver%]/constructor/index.css" />
[%head%]</head><body>
<table id="page-table"><tr><td id="page-toplogo"></td></tr><tr><td id="page-td">
<table id="cab-menu"><tr><td id="cab-menu-left">
<img src="/st/constructor/cabinet/doc.gif" alt="" /> Документация <img src="/st/constructor/cabinet/delim.gif" alt="" />
<img src="/st/constructor/cabinet/settings.gif" alt="" /> Настройки <img src="/st/constructor/cabinet/delim.gif" alt="" />
<img src="/st/constructor/cabinet/forum.gif" alt="" /> Форум
</td><td id="cab-menu-right">
<img src="/st/constructor/cabinet/logout.gif" alt="" /> Выход
</td></tr></table>
<div id="cab-content">[%content%]</div>
</td></tr><tr><td id="page-bottom"><div>[%ConstructorTitle%]</div><div>[%ConstructorCopyright%]</div></td></tr></table>
<div id="page-beta"></div>
<script type="text/javascript">try { document.getElementsByTagName('input')[0].focus(); } catch (e) {}</script>
</body></html>
