<div id="index-div"><div id="index-pad"><table id="menu"><tr>
	<td><table><tr><td class="btn-l"></td><td class="btn-in">[%if logged%]<a href="/cabinet">[%cabinet%]</a>[%else%]<a href="/auth/login">[%login%]</a>[%end%]</td><td class="btn-r"></td></tr></table></td>
	<td><table><tr><td class="btn-l"></td><td class="btn-in">[%if logged%]<a href="/auth/logout">[%logout%]</a>[%else%]<a href="/auth/register">[%register%]</a>[%end%]</td><td class="btn-r"></td></tr></table></td>
	<td><table><tr><td class="btn-l"></td><td class="btn-in"><a href="/forum">[%forum%]</a></td><td class="btn-r"></td></tr></table></td>
</tr></table></div></div>
