<link rel="stylesheet" type="text/css" href="/st/[%ver%]/constructor/index.css" />
===HEAD===
<div id="title">[%online_games_constructor%]</div>
<div id="logo"><img src="/st/constructor/logo.jpg" alt="[%games_constructor%]" /></div>
<div id="slogan">[%slogan%]</div>
<div id="menu">
	[%if logged%]
	<a href="/cabinet">[%cabinet%]</a>
	<a href="/auth/logout">[%logout%]</a>
	[%else%]
	<a href="/auth/login">[%login%]</a>
	<a href="/auth/register">[%register%]</a>
	[%end%]
	<a href="/forum">[%forum%]</a>
</div>
