<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>[%title%]</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta http-equiv="keywords" content="конструктор, онлайн-игры, разработка онлайн-игр" />
<meta http-equiv="description" content="Главная страница конструктора онлайн-игр - сервиса, в котором можно создавать свои онлайн-игры" />
<link rel="stylesheet" type="text/css" href="/st/[%ver%]/constructor/index/main.css" />
[%head%]
</head><body>
<table id="page-table"><tr><td id="page-td">
	<div id="index-counters">[%counters%]</div>
	[%content%]
</td></tr></table>
<div id="page-alpha"></div>
<script type="text/javascript">try { document.getElementsByTagName('input')[0].focus(); } catch (e) {}</script>
</body></html>
