<div class="text">
<h1>[%GameLogo%]</h1>
<p>[%HereYouCan%]</p>
<div id="logo_preview"></div>
<div id="variants"></div>
<div id="navi"></div>
</div>

<script type="text/javascript">
function show_logo(uri)
{
	Ext.fly('logo_preview').dom.innerHTML = '';
	new Ext.Panel({
		renderTo: 'logo_preview',
		border: false,
		layout: 'hbox',
		layoutConfig: {
			align: 'stretchmax',
			pack: 'start'
		},
		items: [{
			border: false,
			bodyCssClass: 'logo-demo-1',
			html: '<img src="' + uri + '" alt="" width="100" height="100" />'
		}, {
			border: false,
			bodyCssClass: 'logo-demo-2',
			html: '<img src="' + uri + '" alt="" width="100" height="100" />'
		}]
	});
	Ext.getCmp('logo-next-button').show();
}
wait(['js/FileUploadField.js'], function() {

	new Ext.Panel({
		renderTo: 'variants',
		border: false,
		layout: 'table',
		autoHeight: true,
		defaults: {
			cellCls: 'form-table',
			border: false,
			cls: 'bottom-form',
		},
		layoutConfig: {
			columns: 2
		},
		items: [{
			defaults: {
				border: false,
			},
			items: [{
				html: '<h2>[%FromFile%]</h2><p>[%UploadNote%]</p>',
			}, {
				id: 'file-form',
				fileUpload: true,
				layout: 'form',
				labelAlign: 'top',
				waitTitle: gt.gettext('Please wait...'),
				xtype: 'form',
				items: [{
					border: false,
					width: 200,
					fieldLabel: '[%ImageFormat%]',
					xtype: 'fileuploadfield',
					name: 'image',
					border: false,
				}, {
					xtype: 'button',
					text: gt.gettext('Upload'),
					handler: function() {Ext.getCmp('file-form').getForm().submit({
						url: '/admin-wizard/call/[%wizard%]/upload',
						waitMsg: gt.gettext('Uploading data...'),
						success: function(f, action) {
							var res = Ext.util.JSON.decode(action.response.responseText);
							if (res && res.logo_preview)
								show_logo(res.logo_preview);
							adm_success(action.response, {
								func: "admin-wizard/call/[%wizard%]/upload"
							});
						},
						failure: function(f, action) {
							if (action.failureType === Ext.form.Action.SERVER_INVALID) {
								if (action.result.errormsg) {
									Ext.Msg.alert(gt.gettext('Error'), action.result.errormsg);
								}
							} else if (action.failureType === Ext.form.Action.CONNECT_FAILURE) {
								Ext.Msg.alert(gt.gettext('Error'), sprintf(gt.gettext('Server error: %s'), action.response.status + ' ' + action.response.statusText + '<br />' + data.url));
							}
						},
					})}
				}]
			}],
		}, {
			defaults: {
				border: false,
			},
			items: [{
				html: '<h2>[%FromConstructor%]</h2>',
			}, {
				items: [{
					xtype: 'button',
					text: '[%LaunchConstructor%]',
					handler: function() { adm('wizard/call/[%wizard%]/constructor') }
				}]
			}]
		}]
	});
	new Ext.Panel({
		renderTo: 'navi',
		cls: 'bottom-form',
		border: false,
		layout: 'form',
		buttons: [{
			text: gt.gettext('Previous'),
			handler: function() { adm('wizard/call/[%wizard%]/prev') }
		}, {
			id: 'logo-next-button',
			text: gt.gettext('Next'),
			handler: function() { adm('wizard/call/[%wizard%]/next') },
			hidden: true,
		}]
	});
	[%if logo%]show_logo('[%logo%]');[%end%]
});
</script>
