<div class="public-offer">

	<h1>Пользовательское соглашение (публичная оферта)</h1>

	<h2>Термины и понятия, используемые в настоящем соглашении</h2>
	<p>Игроки – физические лица, пользующиеся играми, разработанными Администратором, и размещёнными на сервисе Оператора.</p>
	<p>Администратор - лицо, надлежащим образом присоединившееся к настоящему Пользовательскому Соглашению и воспользовавшееся услугами, предоставляемыми Оператором, по созданию и обслуживанию их собственных игр, создавшее Игру и управляющее ей.</p>
	<p>Оператор - разработчик и оператор сервиса по предоставлению услуги создания и обслуживания игр Администраторов.</p>
	<p>Игра – авторская разработка Администратора (совокупность программ, текстов, данных, сообщений, музыки, звуков, фотографий, графических изображений, видеоинформации, иного контента), с использованием ресурса Оператора, на площадке Оператора (оборудовании), с помощью Оператора и с предоставлением услуги на сервисе создания онлайн игр.</p>
	<p>Контент Игры - совокупность всех сведений, программ и прочего, что входит в состав Игры, размещённых при помощи сервиса создания онлайн-игр, предоставленного Администратору.</p>
	<p>Законодательство - понимается как законодательство РФ, так и законодательство места пребывания пользователя.</p>
	<p>Серверы — ЭВМ Оператора и их сети, используемые для функционирования сервиса создания онлайн-игр.</p>

	<h2>1. Основные Условия</h2>
	<p>1.1. Настоящее пользовательское соглашение (далее Соглашение) регулирует отношения между  Оператором, Администратором (Автором игры) и Игроками  при пользовании Игрой, размещённой на  сервисе Оператора. Предметом настоящего  Соглашения является определение условий, при которых  Оператор и Администратор предоставляют Игроку, принявшему условия, личное не исключительное, не передаваемое и не уступаемое право на использование программных и непрограммных элементов Игры, также как и обеспечивает условия, при которых Игрок получает доступ к сайту и использованию различных возможностей, предлагаемых Игрой.</p>
	<p>1.2. Принимая условия настоящего Соглашения, Игрок выражает согласие со всеми его условиями. Регистрация в Игре, возможная после заполнения Анкеты, а также доступ к Игре предоставляются при соблюдении Правил Пользования. В процессе регистрации в Игре каждый Игрок безоговорочно принимает настоящие Правила Пользования, делая отметку в графе «я ознакомился и согласен с настоящим Основным Пользовательским соглашением», в нижней части Анкеты. Таким образом, Игрок признает, что с Правилами Пользования он ознакомлен и безоговорочно их принимает.</p>
	<p>1.3. Оператор и Администратор обязуются обеспечить доступ к Игре, на условиях установленных в игрой,  Игрок самостоятельно за свой счёт оплачивает доступ в сеть Интернет, и Игровые услуги, абонентскую плату (в случае наличия такой в игре)   Игроку предоставляется дополнительный платный сервис, условия предоставления которого определяются правилами, условиями, сценарием и контентом Игры.</p>
	<p>1.4. Участие в Игре подразумевает принятие любых последующих обновлений организации Игры и настоящего  Соглашения.  Оператор оставляет за собой право в любой момент изменять настоящее Соглашение или же специфические правила, касающиеся Игры. Каждая новая версия настоящего Соглашения будет доступна на сайте.</p>
	<p>1.5. В случае использования Игроком  дополнительных платных услуг (сервиса) Игры, Игрок обязуется следовать всем инструкциям по порядку и способам оплаты, прилагаемым к Игре. Оператор и Администратор не несут ответственность за правильность выполнения Игроком условий проведения оплаты игровых услуг. Получение Игроком дополнительных сервисов Игры  возможно при условии оплаты Игроком таких сервисов, и после получения Оператором подтверждения об оплате дополнительных сервисов.</p>
	<p>1.6. Оператор вправе закрывать и/или ограничивать функциональность Игры в любое время без какого-либо предварительного уведомления Игроков. Никакая компенсация при этом Игроку или Администратору не выплачиваются, убытки не возмещаются.</p>
	<p>1.7. Доступ к игре осуществляется через сеть Интернет. Игрой может пользоваться любое совершеннолетнее или несовершеннолетнее физическое лицо.</p>
	<p>1.8. Оператор и Администратор управляют Игрой и игровыми процессами исключительно по своему усмотрению.</p>

	<h2>2. Регистрация в Игре</h2>
	<p>2.1. Регистрация доступна для новых игроков в любое время 24 часа в сутки 7 дней в неделю, за исключением форс-мажорных случаев, выхода из строя оборудования или работ по обновлению или поддержке, проводимых на серверах Игры или телекоммуникационном оборудовании интернет-провайдеров.</p>
	<p>2.2. Один Игрок регистрируется в игре один раз и, как следствие, должен иметь одну учётную запись игрока. Администратор имеет право позволить в рамках одной учётной записи игрока управлять несколькими персонажами.</p>
	<p>2.3. Оператор в технических целях оставляет за собой право приостанавливать в любой момент времени и без предупреждения доступ к учётной записи или некоторым функциям игры. Простой, вызванный отсутствием доступа по этой причине, не подлежит какому бы то ни было возмещению.</p>

	<h2>3. Права и обязанности Игрока</h2>
	<p>3.1. Игрок обязан Соблюдать Правила Игры</p>
	<p>3.2. Соблюдать действующее законодательство РФ и страны нахождения Игрока.</p>
	<p>3.3. Платным сервисом Игры вправе пользоваться дееспособные  Игроки, достигшие возраста совершеннолетия. Лица, не достигшие возраста совершеннолетия, вправе пользоваться платным сервисом Игры в порядке и на условиях, определённых действующим законодательством Российской Федерации и нормами международного права.</p>
	<p>3.4. Игрок в процессе пользования Игрой и всеми её возможностями обязуется:<ul>
		<li>не использовать в адрес кого бы то ни было оскорблений, клеветы, издевательств, угроз и не ущемлять прав других;</li>
		<li>не пропагандировать преступлений против человечества, педофилию, не разжигать межнациональной розни;</li>
		<li>не создавать ложных личностей и не присваивать личных данных третьих лиц;</li>
		<li>не распространять вирусов, троянских программ, логических бомб и прочих вредоносных и деструктивных программ;</li>
		<li>не вредить работе веб-сайтов Администратора и Оператора;</li>
		<li>не продавать другим Игрокам, кроме оговорённых правилами игры случаев, создания, произведения или права, относящиеся к Игре;</li>
		<li>не использовать «роботов», осуществляющих в рамках Игры автоматизированные действия, вне зависимости от их функциональности. Данная практика будет рассматриваться как посягательство на серверы;</li>
		<li>не использовать целиком или же частично содержимого предыдущих творений без разрешения законных правообладателей этих произведений;</li>
		<li>не воспроизводить и/или не использовать торговые марки, логотипы, фирменные наименования или любые отличительные характеристики третьих лиц;</li>
		<li>не посягать на частную жизнь и право на изображение людей, которые могут быть идентифицированы по Контенту;</li>
		<li>в целом, не использовать элементы, которые могут рассматриваться как посягательство на права интеллектуальной собственности или права третьих лиц, в частности торговых марок, авторские права и права на частную жизнь.</li>
	</ul></p>

	<h2>4. Ответственность</h2>
	<p>4.1. Ответственность перед Игроком за некачественное, неполное предоставление либо непредоставление вообще платных сервисов в Игре несет Администратор.</p>
	<p>4.2. Оператор и Администратор не гарантируют, что программное обеспечение Игры не содержит ошибок или будет функционировать бесперебойно.</p>
	<p>4.3.  Оператор не несет ответственности за убытки или иной вред, возникший у Игрока в связи с действиями третьих лиц, в том числе из-за действий Администратора.</p>
	<p>4.4. Оператор и Администратор оставляют за собой право удалять со своих серверов любую информацию или материалы, которые, по их мнению, являются неприемлемыми, нежелательными или нарушающими настоящее Соглашение и действующее законодательство.</p>
	<p>4.5. Оператор и Администратор вправе в одностороннем порядке и в любое время ограничить, расширить или изменить качество услуг без предварительного уведомления Игрока.</p>
	<p>4.6. За нарушение Соглашения и правил Игры  Игроку может быть незамедлительно, без какого-либо предварительного уведомления, отказано в услугах по предоставлению сервиса Игры, либо доступ  к Игре.</p>
	<p>4.7. Оператор и Администратор не отвечают перед Игроком ни при каких обстоятельствах за любой прямой и/или косвенный ущерб, который может быть  (возникнуть) у Игрока в связи с получением сервиса игры или невозможностью такой сервис получить.</p>
	<p>4.8. Все судебные споры между сторонами соглашения подлежат рассмотрению по месту нахождения Оператора.</p>

	<h2>5. Прочие условия</h2>
	<p>5.1. Авторские, смежные и иные права на Игру, включая весь контент Игры, принадлежат Оператору и/или Администратору.  Использование Игры или её элементов в иных целях и местах, кроме самой Игры, запрещается без письменного согласия правообладателя.</p>
	<p>5.2. Вся информация Игрока персонального характера, если таковая была предоставлена Оператору либо Администратору каким-либо образом, ни при каких обстоятельствах не передается третьим лицам, за исключением целей исполнения соглашения или в соответствии с требованиями законодательства. В отдельных случаях  Оператор вправе передать данные об Игроке, нарушающем Соглашение или действующее законодательство, в правоохранительные органы.</p>
	<p>5.3. Недействительность одного или нескольких положений соглашения, признанная в установленном порядке вступившим в силу решением суда,  не влечет для сторон недействительность соглашения в целом.</p>
	<p>5.4. Все используемые или упоминаемые в Игре  знаки и иные средства индивидуализации товаров или услуг принадлежат их законным правообладателям. Все иные права, явно не указанные как принадлежащие третьим лицам, принадлежат Оператору или законным правообладателям таких прав. </p>
	<p>5.5. Настоящее Соглашение составлено на русском языке.</p>
</div>
