<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>[%title%]</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/st/[%ver%]/constructor/socio/main.css" />
<link rel="stylesheet" type="text/css" href="/st-mg/[%ver%]/socio/main.css" />
<script type="text/javascript" src="/st/[%ver%]/js/socio.js"></script>
[%head%]</head><body>
<form method="post" id="search-form" action="/"></form>
<div id="page-layout1-div">
<table id="page-layout1"><tr><td id="page-layout1-td">
<div id="page-top1"><div id="page-top2"><div id="page-top3"><div id="page-top4">
<form onsubmit="return run_search();" action="/">
<table id="socio-topmenu"><tr>
<td id="socio-topmenu-left-logo"><a href="/forum"><img src="/st/constructor/socio/top-left-logo.gif" alt="" /></a></td>
[%if topmenu_left%]<td id="socio-topmenu-left">[%for ent in topmenu_left%][%if ent.delim +%] <img src="/st/constructor/cabinet/delim-sm.gif" alt="" /> [%+ end%][%if ent.header%]<span class="socio-topmenu-header">[%end%][%if ent.href%]<a href="[%ent.href%]">[%end%][%ent.html%][%if ent.href%]</a>[%end%][%if ent.header%]</span>[%end%][%end%]</td>[%end%]
[%if topmenu_right%]<td id="socio-topmenu-right">[%for ent in topmenu_right%][%if ent.delim +%] <img src="/st/constructor/cabinet/delim-sm.gif" alt="" /> [%+ end%][%if ent.image%][%if ent.href%]<a href="[%ent.href%]">[%end%]<img src="[%ent.image%]" alt="" />[%if ent.href%]</a>[%end +%] [%+ end%][%if ent.href%]<a href="[%ent.href%]">[%end%][%ent.html%][%if ent.href%]</a>[%end%][%if ent.search%]<input id="socio-top-search" value="[%search_query%]" /> <a href="javascript:void(0)" onclick="return run_search();">[%ent.button%]</a>[%end%][%end%]</td>[%end%]
</tr></table>
</form>
</div></div></div></div>
<div id="page-layout-content">
	[%if menu_left or menu_right%]
	<table id="socio-menu"><tr>
	[%if menu_left%]<td id="socio-menu-left">[%for ent in menu_left%][%if ent.delim +%] / [%+ end%][%if ent.href%]<a href="[%ent.href%]">[%end%][%ent.html%][%if ent.href%]</a>[%end%][%end%]</td>[%end%]
	[%if menu_right%]<td id="socio-menu-right">[%for ent in menu_right%][%if ent.delim +%] / [%+ end%][%if ent.href%]<a href="[%ent.href%]">[%end%][%ent.html%][%if ent.href%]</a>[%end%][%end%]</td>[%end%]
	</tr></table>
	[%end%]
	[%content%]
</div>
</td></tr></table>
</div>
[%if search_query%]<script type="text/javascript">document.getElementById('socio-top-search').focus();</script>[%end%]
</body></html>
