<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>
<title>[%title%]</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/st/[%ver%]/socio/main.css" />
<link rel="stylesheet" type="text/css" href="/st/[%ver%]/constructor/socio.css" />
[%head%]</head><body>
<div id="page-layout1"><table id="page-layout2"><tr><td id="page-layout-td">
<div id="page-top"><div id="page-top1"><div id="page-top2">
[%if topmenu_left or topmenu_right%]
<table id="topmenu"><tr>
[%if topmenu_left%]<td class="menu_left">[%for ent in topmenu_left%][%if ent.delim%] &bull; [%end%][%if ent.href%]<a href="[%ent.href%]">[%end%][%ent.html%][%if ent.href%]</a>[%end%][%end%]</td>[%end%]
[%if topmenu_right%]<td class="menu_right">[%for ent in topmenu_right%][%if ent.delim%] &bull; [%end%][%if ent.href%]<a href="[%ent.href%]">[%end%][%ent.html%][%if ent.href%]</a>[%end%][%end%]</td>[%end%]
</tr></table>
[%end%]
</div></div></div>
<div id="page-content">
	[%if menu_left or menu_right%]
	<table id="menu"><tr>
	[%if menu_left%]<td class="menu_left">[%for ent in menu_left%][%if ent.delim%] &bull; [%end%][%if ent.href%]<a href="[%ent.href%]">[%end%][%ent.html%][%if ent.href%]</a>[%end%][%end%]</td>[%end%]
	[%if menu_right%]<td class="menu_right">[%for ent in menu_right%][%if ent.delim%] &bull; [%end%][%if ent.href%]<a href="[%ent.href%]">[%end%][%ent.html%][%if ent.href%]</a>[%end%][%end%]</td>[%end%]
	</tr></table>
	[%end%]
	[%content%]
</div>
</td></tr></table></div>
</body></html>
