#title{font-weight:bold;font-size:24px;margin:40px 10px 20px 10px;text-align:center}
.menu{margin:20px auto 0px auto}
.menu td{text-align:center;padding:5px 30px 10px 30px;width:180px}
.menu .images td{padding:0px 30px 0px 30px}
