html { height: 100%; font-family: Verdana; font-size: 13px }
body { background-image: url(/st/constructor/index/bg.gif); background-repeat: repeat; margin: 0 auto; height: 100%; }
table { border-spacing: 0; padding: 0; border-collapse: collapse; }
td { font-size: 13px }
img { border: none }
#page-table { background-image: url(/st/constructor/index/grad.gif); background-repeat: repeat-x; background-position: 0% 50%; height: 100%; width: 100%; }
#page-td {vertical-align: middle; text-align: center; }
#page-toplogo { height: 220px; background-image: url(/st/constructor/cabinet/logo.gif); background-position: 50% 80%; background-repeat: no-repeat; }
#page-bottom { height: 100px; vertical-align: middle; text-align: center; color: #80b8cd; font-size: 11px }
#page-beta { width: 165px; height: 142px; position: absolute; left: 0; top: 0; background-image: url(/st/constructor/index/beta.gif); background-repeat: no-repeat; }
#index-div { background-image: url(/st/constructor/index/indexlogo.jpg); background-repeat: no-repeat; background-position: 50% 50%; height: 600px }
#index-pad { padding-top: 445px; }
#menu { margin: 0 auto; }
#menu a:link, #menu a:visited { color: #dd6419; }
#menu a:hover, #menu a:active { color: #ed8469; }
.btn-l { width: 18px; height: 28px; background-image: url(/st/constructor/index/btn_left.gif); background-repeat: no-repeat; background-position: 100% 100%; padding: 0; margin: 0; }
.btn-in { height: 28px; background-image: url(/st/constructor/index/btn_bg.gif); background-repeat: repeat-x; background-position: 0% 100%; padding: 0; margin: 0;}
.btn-r { width: 18px; height: 28px; background-image: url(/st/constructor/index/btn_right.gif); background-repeat: no-repeat; background-position: 0% 100%; padding: 0; margin: 0; }
.form { width: 440px; margin: 0 auto; }
.form-top { height: 27px; background-image: url(/st/constructor/index/form_top.png); background-repeat: no-repeat; background-position: 0% 100% }
.form-content { background-image: url(/st/constructor/index/form_bg.png); background-repeat: repeat-y; background-position: 0% 0%; padding: 20px 80px 20px 80px; text-align: left; }
.form-bottom { height: 32px; background-image: url(/st/constructor/index/form_bottom.png); background-repeat: no-repeat; background-position: 0% 0% }
.desc { color: #777777 }
.w100 { width: 100% }
.bg { background-color: #fbfbfb; border: solid 1px #e5e5e5; }
.bg:focus { border: solid 3px #b4bac2; margin: 1px 0px 18px 0px; }
input.bg, select.bg { font-size: 22px; color: #777777; padding: 3px; margin: 3px 0px 20px 0px }
.submit { width: 105px; height: 31px; background: none; background-image: url(/st/constructor/index/form_btn.gif); background-position: 50% 100%; background-repeat: no-repeat; color: #262626; border: 0 }
.control { text-align: center; }
.std_form_row { width: 100% }
.list_messages_bottom { padding-top: 15px; color: #898989; }
.list_messages_bottom div { padding-top: 5px; color: #898989; }
.error { color: #ff6347; font-size: 11px }
a:link, a:visited { color: #e48347 }
a:hover, a:active { color: #f4a377 }
#cab-menu { width: 905px; height: 75px; margin: 0 auto; background-image: url(/st/constructor/cabinet/menu.png); background-repeat: no-repeat; background-position: 50% 0% }
#cab-menu img { vertical-align: middle }
#cab-menu-left { text-align: left; padding: 0px 10px 10px 40px }
#cab-menu-right { text-align: right; padding: 0px 40px 10px 0px }
#cab-content { width: 855px; margin: 0 auto; background-image: url(/st/constructor/cabinet/bg.gif) }
#cab-layout { margin: 0 auto; }
#cab-layout td { vertical-align: top }
#cab-leftbtn-td { padding: 14px 10px 25px 10px; }
#cab-leftbtn { width: 127px; height: 202px; margin: 0 auto; background-image: url(/st/constructor/cabinet/leftbtn.gif); background-repeat: no-repeat; background-position: 50% 0% }
#cab-leftbtn div { padding: 130px 15px 5px 15px }
#cab-leftbtn a:link, #cab-leftbtn a:visited { color: #ffffff }
#cab-leftbtn a:hover, #cab-leftbtn a:active { color: #eeddd3 }
#cab-right-menu { padding: 14px 10px 25px 10px }
#cab-right-menu .c1 { background-color: #ffffff }
#cab-right-menu .c2 { background-image: url(/st/constructor/cabinet/lt.gif); background-repeat: no-repeat; background-position: 0% 0% }
#cab-right-menu .c3 { background-image: url(/st/constructor/cabinet/rt.gif); background-repeat: no-repeat; background-position: 100% 0% }
#cab-right-menu .c4 { background-image: url(/st/constructor/cabinet/lb.gif); background-repeat: no-repeat; background-position: 0% 100% }
#cab-right-menu .c5 { background-image: url(/st/constructor/cabinet/rb.gif); background-repeat: no-repeat; background-position: 100% 100%; padding: 15px 25px 15px 25px; }
#cab-right-icons td { text-align: center: vertical-align: top; padding: 20px 10px 0px 10px }
#cab-right-icons .text td { padding: 10px 10px 20px 10px }
