body, h1, h2, h3, h4, h5, h6, p, form, ul, img {margin:0px;padding:0px;}
body{font-size:14px;color:#000000}
body, h1, h2, h3{font-family:"Arial";}
table{border-spacing:0px;padding:0px;border-collapse:collapse}
a{text-decoration:underline;color:#0099cc;}
ul{list-style:none;}
img{border:0px;}
.clear{clear:both;}
table.list td{padding:1px 5px 1px 5px;border:solid 1px #c0c0c0;}
table.list tr.header td{background-color:#f0f0f0;padding:5px;color:#000000;font-weight:bold}
table.list td.subheader{font-weight:bold;font-size:16px}
.description {font-size: 12px;color:#808080}
div.error { color: red; font-size: 11px }
