<p class="admin-submenu"><hook:admin.link href="[%group%]/design/gen" title="[%SelectDesignTemplate%]" /> / <hook:admin.link href="[%group%]/design/new" title="[%UploadNewDesign%]" /></p>

<table class="list">
	<tr class="header"><td class="header">[%Uploaded%]</td><td>[%Title%]</td><td>[%Preview%]</td><td>[%Deletion%]</td><td>[%Installation%]</td></tr>
	[%foreach ent in designs%] 
	<tr><td>[%ent.uploaded%] (<hook:admin.link href="[%group%]/design/templates/[%ent.uuid%]" title="[%templates%]" />, <a href="/admin-[%group%]/design/download/[%ent.uuid%]/[%ent.filename%]">[%download%]</a>)</td><td>[%ent.title%] (<hook:admin.link href="[%group%]/design/rename/[%ent.uuid%]" title="[%rename%]" />)</td><td>[%foreach pr in ent.previews%]<div><a href="/admin-[%group%]/design/preview/[%ent.uuid%]/[%pr.filename%]" target="_blank">[%pr.title%]</a></div>[%end%]</td><td>[%unless ent.installed%]<hook:admin.link href="[%group%]/design/delete/[%ent.uuid%]" title="[%delete%]" confirm="[%ConfirmDelete%]" />[%end%]</td><td>[%if ent.installed%][%installed%][%else%]<hook:admin.link href="[%group%]/design/install/[%ent.uuid%]" title="[%install%]" confirm="[%ConfirmInstall%]" />[%end%]</td></tr>
	[%end%]
</table>
