<div class="admin-actions">
	[%if saved%]<span class="admin-saved">[%saved.text%]</span> [%+ end%]
	[%foreach link in links%]
		[%if link.hook%]<hook:admin.link href="[%link.hook%]" title="[%link.text%]" />[%else%][%link.text%][%end%]
		[%unless link.lst +%] / [%+ end%]
	[%end%]
</div>
<div class="admin-location-render">
<div id="imagemap-ie-warning" class="admin-alert" style="display: none">[%ie_warning%]</div>
<div id="imagemap-div" style="width: [%width%]px; height: [%height%]px; background-image: url([%image%]); background-position: 0% 0%; background-repeat: no-repeat; cursor: default"></div>
<div id="imagemap-form"></div>
</div>
<script type="text/javascript">
wait(['imagemap-editor'], function() {
	ImageMapEditor.init('[%submit_url%]', [%width%], [%height%]);
	[%foreach action in actions%]
	ImageMapEditor.actions.push(['[%action.0%]', '[%action.1%]']);
	[%end%]
	[%foreach loc in locations%]
	ImageMapEditor.locations.push(['[%loc.id%]', '[%loc.name%]']);
	[%end%]
	[%foreach gf in globfunc%]
	ImageMapEditor.globfuncs.push(['[%gf.id%]', '[%gf.title%]']);
	[%end%]
	[%foreach sf in specfunc%]
	ImageMapEditor.specfuncs.push(['[%sf.id%]', '[%sf.title%]']);
	[%end%]
	[%foreach zone in zones%]
	var zone = ImageMapEditor.new_zone();
	zone.setPolygonStr('[%zone.polygon%]');
	zone.action = '[%zone.action%]';
	[%if zone.loc%]zone.loc = '[%zone.loc%]';[%end%]
	[%if zone.ev%]zone.ev = '[%zone.ev%]';[%end%]
	[%if zone.globfunc%]zone.globfunc = '[%zone.globfunc%]';[%end%]
	[%if zone.specfunc%]zone.specfunc = '[%zone.specfunc%]';[%end%]
	[%if zone.url%]zone.url = '[%zone.url%]';[%end%]
	[%if zone.hint%]zone.hint = '[%zone.hint%]';[%end%]
	zone.render(ImageMapEditor.form);
	[%end%]
	ImageMapEditor.run();
});
</script>
