<div class="text">
	[%Disclaimer%]
	<div class="auto-panel[%if expanded==1 +%] expanded[%end%]" title="[%IHaveADomain%]">
		[%DomainSettings%]
		<div id="domain-check-1">
		</div>
	</div>
	<div class="auto-panel[%if expanded==2 +%] expanded[%end%]" title="[%IdLikeToRegister%]">
		<div id="launch-reg">
		</div>
		<div id="domain-check-2"[%if expanded!=2 +%] style="display: none"[%end%]>
		</div>
	</div>
</div>
	
<div id="navi"></div>
</div>

<script type="text/javascript">
function form_submit(btn, ev)
{
	Ext.getCmp('check-form-' + btn.form_id).getForm().submit({
		url: '/admin-wizard/call/[%wizard%]/check',
		waitMsg: '[%CheckingDomain%]',
		success: function(f, action) {
			var is_json = false;
			try {
				is_json = action.response.getResponseHeader("Content-Type").match(/json/);
			} catch (e) {
			}
			if (is_json) {
				var res = Ext.util.JSON.decode(Ext.util.Format.htmlDecode(action.response.responseText));
				if (res)
					adm_response(res);
			}
		},
		failure: function(f, action) {
			if (action.failureType === Ext.form.Action.SERVER_INVALID) {
				if (action.result.errormsg) {
					Ext.Msg.alert(gt.gettext('Error'), action.result.errormsg);
				}
			} else if (action.failureType === Ext.form.Action.CONNECT_FAILURE) {
				Ext.Msg.alert(gt.gettext('Error'), sprintf(gt.gettext('Server error: %s'), action.response.status + ' ' + action.response.statusText));
			}
		}
	});
}
new Ext.Panel({
	renderTo: 'launch-reg',
	border: false,
	cls: 'bottom-form',
	items: [{
		xtype: 'button',
		text: '[%LaunchWizard%]',
		handler: function() { adm('wizard/call/[%wizard%]/register') }
	}]
});
for (var form_id = 1; form_id <= 2; form_id++) {
	new Ext.FormPanel({
		renderTo: 'domain-check-' + form_id,
		id: 'check-form-' + form_id,
		layout: 'form',
		labelAlign: 'top',
		waitTitle: gt.gettext('Please wait...'),
		border: false,
		cls: 'bottom-form',
		items: [{
			border: false,
			xtype: 'textfield',
			width: 400,
			fieldLabel: '[%DomainName%]',
			name: 'domain',
			value: '[%domain_name%]',
			border: false,
			msgTarget: 'under'
		}, {
			xtype: 'button',
			text: '[%CheckDomain%]',
			form_id: form_id,
			handler: form_submit
		}]
	});
}
new Ext.Panel({
	renderTo: 'navi',
	cls: 'bottom-form',
	border: false,
	layout: 'form',
	buttons: [{
		text: gt.gettext('Abort wizard'),
		handler: function() { adm('wizard/call/[%wizard%]/cancel') }
	}]
});
</script>
