<div class="text">

<h1>Краткие правила</h1>
<p>Настоящие Краткие правила не являются офертой. Они кратко пересказывают основные условия Пользовательского соглашения, однако не являются юридически значимым документом. Если какие-либо положения Кратких правил вступают в противоречие с Пользовательским соглашением, то применяются положения Пользовательского соглашения соответственно.</p>

<div class="auto-panel im" title="Суть соглашения">
<p>Вы создаёте игру, привлекаете в неё игроков. Игроки будут платить деньги за развлекательную услугу, и мы с вами будем делить выручку в соотношении 50/50.</p>
<p>Создание игры в Конструкторе бесплатно, однако поддержание её работоспособности стоит наших денег, и поэтому <strong>всякая игра, которую вы делаете, должна быть коммерческим проектом</strong>. Вы должны монетизировать игру, вводя в ней платные услуги и всячески продвигая их. Администрация оставляет за собой право блокировать игры, не приносящие дохода совсем, либо приносящие мало. Недопустимо создание "принципиально некоммерческих" игр &mdash; вы должны всеми силами стремиться к повышению их дохода.</p>
</div>

<div class="auto-panel" title="Не укради">
<p>Создавая игру в конструкторе, вы будете загружать в неё тексты, картинки и иной контент. Мы предполагаем, что вы обладаете правами на использование этого контента в ваших разработках. Если вы воспользуетесь контентом без разрешения, то это будет нарушением гражданского законодательства, и вы рискуете, в случае жалобы правообладателя, блокировкой вашей игры, в лучшем случае, и судебными исками, в худшем.</p>
</div>

<div class="auto-panel" title="Не обмани">
<p>Принимать платежи в ваших играх допустимо только через встроенные в Конструктор средства. Это необходимо для точного учёта объёма услуг, оказанных игрокам, чтобы мы могли затем честно произвести взаиморасчёты с вами. Нельзя принимать оплату "мимо кассы", нельзя самостоятельно продавать рекламу в своих играх. Если вы будете уличены в таких операциях, то мы оставляем за собой право заблокировать вашу игру.</p>
</div>

<div class="auto-panel" title="Не уклоняйся">
<p>Помните, что, получая регулярный доход от ваших игр, вы занимаетесь предпринимательской деятельностью. По законам Российской Федерации, предприниматели должны регистрироваться и уплачивать налоги с получаемого дохода. Однако мы не проводим никаких проверок вашей регистрации в качестве налогоплательщиков и не платим за вас никакие налоги. Ответственность полностью остаётся на вас.</p>
</div>

<h1>Публичная оферта</h1>

<p>Регистрируясь на данном сайте, вы принимаете условия Пользовательского соглашения, приведённые ниже. Данный документ является офертой и имеет юридическую силу. Актуальная версия всегда доступна по адресу <a href="[%main_protocol%]://www.[%main_host%]/doc/offer" target="_blank">[%main_protocol%]://www.[%main_host%]/doc/offer</a>.</p>

<div class="auto-panel" title="Пользовательское соглашение">
[%include constructor/docs/ru/offer.html%]
</div>

<div style="height: 20px"></div>
