html { height: 100%; font-family: Verdana; font-size: 14px }
body { background: #fbfbfb; margin: 0 auto; height: 100%; padding: 0 }
table { border-spacing: 0; border-collapse: collapse; }
td { font-size: 14px; padding: 0; }
img { border: none }
h1 { color: #0078ac; font-size: 21px; font-weight: bold }
/* LAYOUT */
#page-top { position: relative; height: 57px; margin: 0 -96px 0 -96px; left: 0; top: 0 }
#page-layout { width: 100%; height: 100% }
#page-left { width: 96px; background-image: url(/st/constructor/socio/left.gif); background-repeat: repeat-y; background-position: 0% 0%; }
#page-left div { width: 96px }
#page-right { width: 96px; background-image: url(/st/constructor/socio/right.gif); background-repeat: repeat-y; background-position: 100% 0%; }
#page-right div { width: 96px }
#page-width { width: 1000px }
#page-top1 { background-image: url(/st/constructor/socio/top-bg.gif); background-repeat: repeat-x; background-position: 0% 0%; height: 57px }
#page-top2 { background-image: url(/st/constructor/socio/top-left.gif); background-repeat: no-repeat; background-position: 0% 0%; }
#page-top3 { background-image: url(/st/constructor/socio/top-right.gif); background-repeat: no-repeat; background-position: 100% 0%; height: 57px }
#page-top4 { padding: 0px 96px 0px 61px }
#page-layout-content { vertical-align: top }
#page-content { padding: 25px 0px 25px 0px }
/* FORM */
.form { margin-top: 30px }
#search-form { margin: 0 }
.form-desc { color: #0078ac; font-size: 17px; font-weight: bold; padding: 10px 0px 10px 0px }
.form-w100 { width: 100% }
.form-bg { background-color: #fbfbfb; border: solid 1px #e5e5e5; }
input.form-bg, select.form-bg { font-size: 22px; color: #777777; padding: 3px; margin: 3px 0px 20px 0px }
input.form-file { font-size: 13px }
.form-std-form-row { width: 100% }
.form-list-messages-top a:link, .form-list-messages-top a:visited { color: #dd6419 }
.form-list-messages-top a:hover, .form-list-messages-top a:active { color: #ed8439 }
.form-list-messages-bottom { padding-top: 15px; color: #898989; }
.form-list-messages-bottom div { padding-top: 5px; color: #898989; }
.form-list-messages-bottom a:link, .form-list-messages-bottom a:visited { color: #dd6419 }
.form-list-messages-bottom a:hover, .form-list-messages-bottom a:active { color: #ed8439 }
.form-error { color: #ff6347; font-size: 12px }
.form-editor-toolbox td { padding: 0px 4px 10px 0px }
.form-submit { margin-top: 10px }
/* TAGS */
.socio-tags { padding-top: 10px; color: #81878a }
.socio-tags-list { color: #dd6419 }
.socio-tags-list a:link, .socio-tags-list a:visited { color: #dd6419 }
.socio-tags-list a:hover, .socio-tags-list a:active { color: #ed8439 }
.socio-tags-list .socio-thick { margin: 20px 0px 15px 0px; }
.socio-tags-list .socio-semithick { margin-top: 20px }
/* DOCUMENTATION */
.doc-content a:link, .doc-content a:visited { color: #dd6419 }
.doc-content a:hover, .doc-content a:active { color: #ed8439 }
.doc-code { vertical-align: top }
.doc-code .doc-code-sample { width: 500px }
.doc-code-sample { font-size: 11px; background-color: #ffffe0; padding: 5px }
.doc-code-preview { vertical-align: top; padding-left: 50px }
.doc-code-preview img { margin: 10px 0px 10px 0px }
.float-block { float: left; padding: 0px 30px 15px 0px }
.float-end { clear: both }
