<div class="text">
<p><hook:admin.link href="constructor/project-dashboard/[%project.uuid%]" title="[%Update%]" /></p>
<table class="menu">
[%if owner%]<tr><td class="header">[%Owner%]</td><td><hook:admin.link href="constructor/user-dashboard/[%owner.uuid%]" title="[%owner.name%]" /></td></tr>[%end%]
<tr><td class="header">[%Id%]</td><td>[%project.uuid%]</td></tr>
[%if project.created%]<tr><td class="header">[%Created%]</td><td>[%project.created%]</td></tr>[%end%]
[%if project.published%]<tr><td class="header">[%Published%]</td><td>[%project.published%][%if project.unpublish%] &bull; <hook:admin.link href="constructor/project-unpublish/[%project.uuid%]" title="[%unpublish%]" confirm="[%ConfirmUnpublish%]" />[%end%]</td></tr>[%end%]
[%if project.title_full%]<tr><td class="header">[%TitleFull%]</td><td>[%project.title_full%]</td></tr>[%end%]
[%if project.title_short%]<tr><td class="header">[%TitleShort%]</td><td>[%project.title_short%]</td></tr>[%end%]
[%if project.title_code%]<tr><td class="header">[%TitleCode%]</td><td>[%project.title_code%]</td></tr>[%end%]
[%if project.domain%]<tr><td class="header">[%Domain%]</td><td>[%project.domain%]</td></tr>[%end%]
[%if project.logo%]<tr><td class="header">[%Logo%]</td><td><img src="[%project.logo%]" alt="" /></td></tr>[%end%]
</table>
[%if options%]<table class="menu">[%foreach option in options%]<tr><td class="header">[%option.title%]</td><td>[%option.value%]</td></tr>[%end%]</table>[%end%]
</div>
