tr.category td.avatar { padding: 7px 10px 30px 13px; vertical-align: top; width: 150px; }
div.avatar img { border: solid 1px #614115; }
div.member_name { font-weight: bold; color: #364b52; padding: 10px 0px 3px 0px; }
div.member_icons img { vertical-align: middle; }
td.post_actions { vertical-align: top; padding-top: 7px; }
td.actions { vertical-align: bottom; padding: 0px 10px 30px 0px; }
table.actions { width: 100%; }
table.actions td.left { padding-right: 40px; vertical-align: bottom; }
table.actions td.right { text-align: right; vertical-align: bottom; }
div.signature { font-size: 12px; padding-top: 15px; }
div.quote { background-color: #e8ddc4; border: solid 1px #b59c69; padding: 5px 3px 5px 3px; margin: 10px 0px 10px 0px; }
div.quote div.author { font-size: 10px; color: #808080; margin-bottom: 5px; }
table.delim { width: 100%; }
table.delim td.left { padding: 3px 0px 3px 0px; font-size: 11px; color: #614115; }
table.delim td.right { text-align: right; padding: 3px 0px 3px 20px; font-size: 11px; color: #614115; white-space: nowrap; }
table.std_form_row { width: 100%; }
table.std_form_row td.control { padding-right: 10px; vertical-align: top; }
