/* LAYOUT */
body { background-image: url(body-bg-1.jpg) }
a:link, a:visited { color: #098d45 }
a:hover, a:active { color: #461e82 }

/* BOX */
.box-0 { background-color: #d8d8b4; color: #383816; height: 100% }
.box-1 { background-image: url(box-left.png); background-position: 0% 50%; background-repeat: repeat-y; height: 100% }
.box-2 { background-image: url(box-right.png); background-position: 100% 50%; background-repeat: repeat-y; height: 100% }
.box-3 { background-image: url(box-top.png); background-position: 50% 0%; background-repeat: repeat-x; height: 100% }
.box-4 { background-image: url(box-bottom.png); background-position: 50% 100%; background-repeat: repeat-x; height: 100% }
.box-5 { background-image: url(box-left-bottom.png); background-position: 0% 100%; background-repeat: no-repeat; height: 100% }
.box-6 { background-image: url(box-right-bottom.png); background-position: 100% 100%; background-repeat: no-repeat; height: 100% }
.box-7 { background-image: url(box-left-top.png); background-position: 0% 0%; background-repeat: no-repeat; height: 100% }
.box-8 { background-image: url(box-right-top.png); background-position: 100% 0%; background-repeat: no-repeat; height: 100% }
.box-9 { padding: 32px }
.box-0 a:link, .box-0 a:visited { color: #098d45 }
.box-0 a:hover, .box-0 a:active { color: #461e82 }

/* MENU */
.block-horizontal { padding-top: 9px }

/* CHAT */
#chat-frame, #chat-roster { background-color: #d8d8b4; color: #383816 }
.x-layout-split { background: #383816 }
#chat-input-content { padding-top: 4px }
#chat-box { color: #383816 }

/* FORMS */
.form-list-messages-top, .form-list-messages-bottom { color: #098d45 }
.form-error { color: #ff0000 }
.chat-roster-channel { color: #383816 }
.chat-roster-characters { color: #383816 }

/* INTERNAL */
#page-internal-body, .main-iframe { background: #d8d8b4; color: #383816 }
.game-error { color: #ff0000; font-weight: bold }

/* PROGRESS BARS */
.progress-horizontal { background-image: url(progress-horizontal-bg.png); background-repeat: repeat-x; background-position: 0% 50% }
.progress-horizontal-1 { background-image: url(progress-horizontal-left.png); background-repeat: no-repeat; background-position: 0% 50% }
.progress-horizontal-2 { background-image: url(progress-horizontal-right.png); background-repeat: no-repeat; background-position: 100% 50% }
.progress-bars-horizontal-margin { height: 25px }
.progress-bars-horizontal { height: 25px }
.progress-bars-horizontal-td { padding: 0 17px 0 17px }
.progress-vertical { background-image: url(progress-vertical-bg.png); background-repeat: repeat-y; background-position: 50% 0% }
.progress-vertical-1 { background-image: url(progress-vertical-top.png); background-repeat: no-repeat; background-position: 50% 0% }
.progress-vertical-2 { background-image: url(progress-vertical-bottom.png); background-repeat: no-repeat; background-position: 50% 100% }
.progress-bars-vertical { width: 25px; margin-left: 25px }
.progress-bars-vertical-td { padding: 17px 0 17px 0 }

/* PANEL HEADERS */
.panel-header-horizontal { background-image: url(progress-horizontal-bg.png); background-repeat: repeat-x; background-position: 0% 50% }
.panel-header-horizontal-1 { background-image: url(progress-horizontal-left.png); background-repeat: no-repeat; background-position: 0% 50% }
.panel-header-horizontal-2 { background-image: url(progress-horizontal-right.png); background-repeat: no-repeat; background-position: 100% 50% }
.panel-header-horizontal-margin { height: 26px }
.panel-header-horizontal-9 { height: 24px }
.panel-header-horizontal-10 { padding: 0 27px 0 28px; color: #ffffff }

/* TIPS */
.x-tip .x-tip-tc, .x-tip .x-tip-tl, .x-tip .x-tip-tr, .x-tip .x-tip-bc, .x-tip .x-tip-bl, .x-tip .x-tip-br, .x-tip .x-tip-ml, .x-tip .x-tip-mr { background-image: url(tip-sprite.gif) }
.x-tip .x-tip-body { color: #383816 }
.x-tip-anchor { background-image: url(tip-anchor-sprite.gif) }

/* POPUP MENU */
.x-menu { background-image: url(menu.gif) }
.x-menu-item-active { background-color: #8a8762; border-color: #383816; background-image: url(menu-item-over.gif) }
.x-menu-floating { border-color: #383816 }
.x-menu-item-active a.x-menu-item { border-color: #383816 }

/* LOCATION */
.chat-div-your-location { background-color: #746548 }
