<div class="text">
[%if title%]<h1>[%title%]</h1>[%end%]
[%foreach table in tables%]
	[%if table.title%]<h2>[%table.title%]</h2>[%end%]
	[%if table.message_top%]<div class="admin-tbl-message-top">[%table.message_top%]</div>[%end%]
	[%if table.links%]<div class="links">[%foreach link in table.links%][%if link.href%]<a href="[%link.href%]">[%link.text%]</a>[%elsif link.hook%]<hook:admin.link href="[%link.hook%]" title="[%link.text%]" />[%else%][%link.text%][%end%][%unless link.lst +%] / [%+ end%][%end%]</div>[%end%]
	[%if table.header or table.rows%]
		<table class="menu">[%if table.header%]<tr class="header[%if table.header_nowrap +%] header-nowrap[%end%]">[%foreach col in table.header%]<td>[%col%]</td>[%end%]</tr>[%end%][%foreach row in table.rows%]<tr>[%foreach col in row%]<td>[%col%]</td>[%end%]</tr>[%end%]</table>
	[%end%]
[%end%]
</div>
