body { background: url(body-bg-1.jpg) }
#page-top1, #page-layout-content { background: #bfe3fb; color: #112e4c }
a:link, a:visited, #combat-topmenu a:link, #combat-topmenu a:visited { color: #435770 }
a:hover, a:active, #combat-topmenu a:hover, #combat-topmenu a:active { color: #5d789b }
#page-top2 { background-image: url(sbox-bottom.png); background-position: 0% 100%; background-repeat: repeat-x }
#page-top3 { background-image: url(sbox-top.png); background-position: 0% 0%; background-repeat: repeat-x }
#page-top4 { padding: 20px 60px 20px 60px }
#page-left { background-image: url(sbox-left.png); background-position: 100% 0%; background-repeat: repeat-y }
#page-right { background-image: url(sbox-right.png); background-position: 0% 0%; background-repeat: repeat-y }
