#title{font-weight:bold;font-size:24px;margin:40px 10px 20px 10px;text-align:center}
#logo{height:380px;text-align:center}
#slogan{font-size:16px;margin:20px 10px 40px 10px;text-align:center}
#menu{text-align:center}
#menu a{margin:0px 10px 0px 10px}
