body, h1, h2, h3 { font-family: Verdana; color: #535c5f }
body, td { font-size: 13px }
strong { font-weight: bold }
a:link, a:visited { color: #dd6419 }
a:hover, a:active { color: #ed9439 }
table { border-spacing: 0px; padding: 0px; border-collapse: collapse }
#admin-project-title { font-weight: bold; padding: 3px 5px 0px 15px; font-size: 16px; color: #6a7274 }
.x-border-layout-ct .x-splitbar-h { background-color: #d8d8d8 }
#admin-topmenu { background: #ffffff; padding: 0px 35px 0px 50px; border: none }
#admin-logo { padding: 0px 34px 2px 0px }
#admin-logo img { vertical-align: middle }
#admin-topmenu .x-toolbar-cell div.xtb-text { line-height: 40px }
#admin-topmenu .xtb-text a { color: #1078a0; font-size: 17px; padding-right: 35px }
#admin-leftmenu { background-image: url(/st/constructor/admin/workarea-bg.gif); background-repeat: repeat-x; background-position: 0% 0%; padding-top: 10px; }
.admin-leftmenu { background-color: #ffffff; }
#admin-leftmenu-tree { margin: 20px 0px 0px 20px; }
.admin-leftmenu2 { padding: 20px 0px 0px 20px; }
#admin-advicecontent1 { background-color: #e5f1f7; background-image: url(/st/constructor/admin/advice-bg.gif); background-repeat: repeat-x; background-position: 0% 0%; }
.admin-advicecontent1 { background-image: url(/st/constructor/admin/advice-logo.gif); background-repeat: no-repeat; background-position: 100% 0% }
#admin-advicecontent { padding-top: 10px; }
.admin-advicecontent { padding: 0px 20px 0px 20px; }
#admin-main { background-image: url(/st/constructor/admin/workarea-bg.gif); background-repeat: repeat-x; background-position: 0% 0%; padding-top: 10px }
.admin-main { background-color: #ffffff }
.admin-content { padding: 20px 20px 20px 20px }
.admin-advice-header { font-size: 18px; color: #0078ac; padding-top: 20px }
.admin-advice-title { font-size: 18px; color: #0078ac; padding-top: 20px; display: none; }
.admin-advice-body { font-size: 12px; color: #535c5f; line-height: 1.6em; padding: 20px 0px 20px 0px; border-bottom: solid 2px #eff6fa }
.admin-advice-body-last { font-size: 12px; color: #535c5f; line-height: 1.6em; padding: 20px 0px 10px 0px; }
.admin-headmenu { font-size: 18px; color: #0078ac; margin-bottom: 20px }
.admin-headmenu a:link, .admin-headmenu a:visited { color: #0078ac }
.admin-headmenu a:hover, .admin-headmenu a:active { color: #0098ec }
.admin-submenu { padding-bottom: 10px }
.admin-description { padding-bottom: 20px }
.list { margin: 10px 0px 10px 0px }
.list td { padding: 2px 10px 2px 20px; border-bottom: solid 1px #e5f1f7; vertical-align: top }
.list .header { background-color: #e5f1f7; color: #0078ac }
.list td.subheader { color: #dd6419; padding: 10px 10px 10px 20px }
.description { font-size: 12px; color: #8f9da3 }
.error { color: #ff6419; font-size: 11px }
.auto-panel .x-panel-body { padding: 0px 5px 0px 5px }
.admin-actions { margin-bottom: 10px }
.advice{margin: 15px 10px 5px 10px}
.text h1{font-size: 20px; margin: 10px 0px 10px 0px}
.text h2{font-size: 16px; margin: 10px 0px 10px 0px}
.text p{margin: 10px 0px 10px 0px; text-align: justify}
.text strong{font-weight: bold}
.text ul{list-style: disc; margin: 10px 0px 10px 35px;}
.text ol{list-style: none; margin: 10px 0px 10px 20px;}
.auto-panel{margin: 3px 0px 3px 0px}
.bottom-form { margin: 10px 0 10px 0 }
.admin-form .x-panel-btns .x-toolbar-cell {padding: 10px 15px 0px 0px;}
.x-form-file-wrap { position: relative; height: 22px; }
.x-form-file-wrap .x-form-file { position: absolute; right: 0; -moz-opacity: 0; filter:alpha(opacity: 0); opacity: 0; z-index: 2; height: 22px; }
.x-form-file-wrap .x-form-file-btn { position: absolute; right: 0; z-index: 1; }
.x-form-file-wrap .x-form-file-text { position: absolute; left: 0; z-index: 3; color: #777; }
.x-form-item { padding-bottom: 15px }
.x-form .x-form-item .x-form-item-label { padding-right: 28px }
.x-form-check-wrap input.x-form-radio { vertical-align: middle; margin-left: 4px }
.x-form-check-wrap .x-form-cb-label img { vertical-align: middle; margin: 10px 10px 10px 0 }
.x-form-cb-label img { margin: 3px }
.logo-demo-1 { padding: 20px; background: url(/st/constructor/admin/logo-demo.gif); text-align: center; }
.logo-demo-2 { padding: 20px; }
#background_preview { margin: 44px 0px 0px 20px; border: solid 1px #e0e0e0; }
#logo_preview { margin: 20px 0px 20px 0px; }
.form-table { padding: 5px 25px 0px 0px; vertical-align: top }
.red { background: #ff8080 }
.red * { background: #ff8080 }
.multicolumn-cell { vertical-align: top }
#logo-layers { margin: 20px 0px 10px 0px }
.logo-image { width: 100px; height: 75px; border: solid 1px #e0e0e0; }
.enough { color: #208020 }
.not-enough { color: #ff4040 }
table.menu { margin: 10px 0px 10px 0px }
table.menu td { padding: 3px 10px 3px 5px; vertical-align: top }
table.menu tr.header td { background-color: #f0f0f0; padding: 5px 10px 5px 5px; color: #000000; font-weight: bold }
table.menu td.header { background-color: #f0f0f0; color: #000000; font-weight: bold }
.header-nowrap { white-space: nowrap }
table.menu td.subheader { font-weight: bold; font-size: 16px }
.moderated { border: solid 1px #c00000; padding: 3px; font-weight: bold }
.admin-message-green { border: solid 1px #008000; color: #00c000; padding: 10px; margin: 10px 0 10px 0 }
.admin-message-red { border: solid 1px #e00000; color: #ff0000; padding: 10px; margin: 10px 0 10px 0 }
.admin-united { border-left: solid 2px #c0c0e0; }
.admin-delim { margin-top: 15px; padding-top: 15px; border-top: solid 1px #dd6419 }
.admin-w50 { width: 50% }
.admin-column-padding { padding-left: 20px }
.admin-column { padding-right: 60px; vertical-align: top }
.admin-valign-top { vertical-align: top }
/* DESIGN TEMPLATES */
.design-template { width: 180px; float: left }
.design-template-name { padding: 10px 0px 30px 0px }
/* GAME DASHBOARD */
.admin-recommended-content { vertical-align: middle; padding-bottom: 15px }
.admin-recommended-icon { vertical-align: top; padding: 3px 30px 15px 0 }
.yes { color: #008000 }
.no { color: #e00000 }
.admin-enabled { color: #00c000; font-weight: bold }
.x-edit-pictures {background: url(edit-pictures.png) 0 0 no-repeat !important;}
